
<link rel="stylesheet" type="text/css" href="../../resource/css/flu-campaign.css" />

<div class="col-sm-12" style="margin-bottom:-20px; top:-60px;">
  <div class="aza-logo"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8" align = "center">
    <div class="nav-menu" style="color:#FFFFFF">
              <div class="btn-group">
    <button type="button" class="btn btn-primary"><a href="/patient" style="color:#FFFFFF">Patient</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Campaign</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Reports</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Work List</a></button>

              </div>
  
    </div>
    </div>
    <div class="col-sm-2">
            <div class="header-holder">
                    <div class="log_in_bx" style="margin-bottom:25px; top:10px;">
                        <a href="/login">LOGOUT</a>
                    </div>
            </div>
    </div>
    </div>

<div id="main">


	<div class="container">

    
    <div class="top_block">
 
                <div class="catgry-block ">
                    <a href="#"><h2>14</h2><span class="title" >Patients Enrolled</span></a>	
                </div>
                <div class="session_bar">
                <div class="title"><span class="glyphicon glyphicon-globe"></span><h2 style="width:270px;">Program</h2></div>

                </div>

				 <div class="catgry-block" style="float:right; position:absolute; right:0;">
                    <a href="#"><h2>4</h2><span class="title">Touchpoints</span></a>	
                </div>

            </div>

    <div class="enroll-block">
       <div class="left-tools">
                	<button  type="button" class="btn-default" data-toggle="tooltip" data-placement="right" title="DRE Program aims at making patients aware of high risks associated with Diabetic Retinopathy, points them to relevant resources/center for Eye Exam and sends regular 
					reminders. Activate this campaign for the chronic diabetic patients.">Description</button>
             </div>

                <div class="right-tools">
<div class="tools-bitton-box">
                	<a href="new-diabetes.html" class="patnt-btn ">Edit</a>

               </div>
					<a class="add-btn" id="form" href="#"><span></span>Configure</a>
                    <a id="bulk"  class="add-btn" href="#"><span></span>Enroll Members</a>

                </div>

            </div>
             <div class="prgrm-title">Program Overview</div>
				<div class="campaign_blok">
				<div class="prgm-ovrviw">

            	<div class="day-blk"><h4>Channel <p>(Channel sequence)</p></h4></div>
                <div class="days1">0 Days Lapsed</div>

            	<div class="touchpoint-main"  ng-controller="DeliveryComponent" *ngFor="let programoverview of programoverviewData">
                	<div class=" blue-blok" >
                      <div class="line"></div>

                    	<div class="tch-icon awarenss"></div>
                        <h3><p>{{programoverview.pftname}}</p></h3>
                        <div class="days" align="right">{{programoverview.pfinterval}} Days&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <br>Lapsed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>

                    <div class="tools" style="overflow-x:hidden;">
                   <!--  <a href="#" target="_blank"> <span class="lttr-icn book" title="Print"></span></a>
                         <a href="#" >  <span class="lttr-icn phone" title="IVRS"></span></a>-->
                         
                    	<a href="images/Email_Diabetic Retinal Eye Exam.pdf" target="_blank" ><span class="lttr-icn mail" title="E-mail"></span></a>
                          <a href="images/SMS_Diabetic Retinal Eye Exam.pdf" target="_blank">   <span  title="SMS"class="lttr-icn sms"></span> </a>
						  <a target="_blank"><span  title="SMS"class="lttr-icn sms"></span> </a>

                        </div>
   
                </div><!--end-->


             <!--   <div class="touchpoint-main">
                	<div class=" blue-blok">
                      <div class="line"></div>
                    	<div class="tch-icon cmptr"></div>
                        <h3><p>Delayed Screening</p></h3>
                    </div>
                    
                    <div class="tools">
                    	

                    	<a href="images/Delayed Screening.pdf"><span class="lttr-icn mail"></span></a> 
                        <a href="images/dre_TP2_Sms.pdf"> <span class="lttr-icn sms"></span></a>
                        <a href="images/Print_Eye Exam Center Info.pdf" target="_blank"> <span class="lttr-icn mail"></span></a>
                    </div>
                </div>end-->
              <!--  <div class="days">3 Days Lapsed</div>
                
                
               <div class="touchpoint-main">
                	<div class=" blue-blok">
                      <div class="line"></div>
                    	<div class="tch-icon reminder"></div>
                        <h3><p>Breaking the Myth</p></h3>
                    </div>
                    
                    <div class="tools">
                      <a href="images/dre_TP3_Email.pdf"><span class="lttr-icn mail"></span></a>
                    	<a href="images/dre_TP3_Sms.pdf"><span class="lttr-icn sms"></span></a>
						<a href="images/dre_TP3_Ivr.pdf"><span class="lttr-icn phone"></span></a>
                    </div>
                </div>end-->
               <!-- <div class="days">2 Days Lapsed</div>
                
                
                <div class="touchpoint-main">
                	<div class=" blue-blok">
                    	<div class="tch-icon family"></div>
                        <h3><p>Barrier Identification</p></h3>
                    </div>
                    
                    <div class="tools">
                        <a href="images/dre_TP4_Email.pdf"><span class="lttr-icn mail"></span></a>
                    	<a href="images/dre_TP4_Sms.pdf"><span class="lttr-icn sms"></span></a>
						<span class="lttr-icn sms"></span>
                    </div>
                </div>end-->
            </div>
            <div class="col-sm-12" style="width: 106%;" ng-controller="DeliveryComponent" *ngFor="let delivery of deliveryData"><div class="col-sm-3" style="padding-left: 1px;">       
                <div class="hdng1">
                  <h4><b>Patients</b></h4>
                  <a href="#" class="btn1">View All</a>
                  </div>           
         <div class="patients-box" style="overflow:scroll; overflow-x:hidden;">
  
              
                  <div class="table-responsive2">         
              <table class="table table-bordered text-left">
                <thead>
                  <tr>
                   
                    <th class="text-center">Patient ID</th>
                    <th class="text-center">Name </th>
                    <th class="text-center">Age</th>
                     <th>Sex</th>
                   </tr>
                </thead>
                <tbody >
                
                
                  <tr >
                    <td><span class="pt_close"></span>{{delivery.Id}}</td>
                    <td>{{delivery.fname}} {{delivery.lname}}</td>
                    <td>{{delivery.dob}}</td>
                    <td>{{delivery.gender}}</td>
                  </tr>
           
           </tbody>
              </table>
            </div> </div></div>
            <div class="col-sm-1">&nbsp;&nbsp;&nbsp;</div>
            <div class="col-sm-8">
            <div class="table-responsive">
              <div class="hdng2">
                  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Touchpoints</b></h4>
                  <a href="#" class="btn2">View All</a>
                  </div>
            <div class="tchpoint-box" style="overflow:scroll; overflow-x:hidden;">
  
            
            
                      
              <table class="table table-bordered text-left" align="right">
                <thead>
                  <tr>
                   
                    <th class="text-center" width="17%">Name</th>
                    <th class="text-center" width="12%">Touchpoint </th>
                    <th class="text-center" width="10%">Channel</th>
                    <th class="text-center" width="15%">Time Stamp</th>
            <th class="text-center" width="15%">Message</th>
            <th class="text-center" width="15%">Contact</th>
                    <th class="text-center" width="15%">Status</th>
                  
                   </tr>
                </thead>
                <tbody >
                
                  
                   <tr *ngFor="let delivery of deliveryData">
                    <td>{{delivery.fname}} {{delivery.lname}}</td>
                    <td>{{delivery.Touchpoint}}</td>
                    <td>SMS</td>
                    <td>{{delivery.TimeStamp}}</td>
            <td>{{delivery.Message}}</td>
            <td>{{delivery.Contact}}</td>
                    <td>{{delivery.Status}}<span class="delvrd"></span></td>
                  </tr>
                  
  
                </tbody>
              </table>
            </div></div></div>
          </div> 
        
        </div>
        
	</div>
	
</div>


      
   










 
 


