/*
////////////
Table
*/
.progrm-table {
	margin-top: 5px; 
	margin-bottom: 15px;
	float: left;
	width: 960px;
		height:140px;
		overflow-y:scroll;
	overflow-x:hidden;
}
.history-table {
	float: left;
	width: 960px;
	overflow-y:scroll;
	overflow-x:hidden;
	height:300px;
	
}
.history-table  h3 {
	color: #00a3e4;
font-size: 14px;
display: block;
margin: 4px 0;
height:168px;
font-family: "opensans_semibold";}	
.table-responsive {
	min-height:.01%;
	overflow-x:auto
	
}
.table-responsive {
	width:100%;
	margin-bottom:15px;
	
}
.table-responsive>.table {
	margin-bottom:0
}
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
	white-space:nowrap
}
table {
	background-color:transparent
}
caption {
	padding-top:8px;
	padding-bottom:8px;
	color:#777;
	text-align:left
}
th {
	text-align:left
}
.table {
	width:100%;
	max-width:100%;
	margin-bottom:20px
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-bottom:5px solid #fff
}
.table>thead>tr>th {
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
	border-top:0;
	background:#666666;
	color:#fff;
}
.table>tbody+tbody {
	border-top:2px solid #ddd
}
.table .table {
	background-color:#fff
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding:5px
}
.table-bordered {
	border:1px solid #ddd
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border:1px solid #ddd
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width:2px
}
.table>tbody>tr>td {
	padding: 5px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.text-left {
	text-align: left;
}
.table-bordered>thead>tr>th {
	background:#ebebeb;
	color:#5d5d5d;
}
.table {
	font-size:11px;

}
.table-bordered>thead>tr>th {
	border-bottom-width: 1px;
}
.table>thead>tr>th {
	padding:3px;
}
.table>tbody>tr>td {
	padding:10px 5px;
	background:#F7F7F7;
	border: 1px solid #ddd;
}
.campaign_blok {
	height: 388px;
	margin-top: 5px;
}
.deactive {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	padding: 2px 9px;
	font-size: 11px;
	background:#c24527;
	line-height: 16px;
	min-width:62px;
	text-align:center;
}
.active {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	padding: 2px 9px;
	font-size: 11px;
	background:#75b346;
	line-height: 16px;
	min-width:62px;
	text-align:center;
}
.mmbr, .flu, .stay, .prgnnt, .nutri, .obsity, .hlth {
	width:18px;
	height:18px;
	background:url(app/resource/Images/gap-anlysis.png) -145px -114px;
	float:left;
	margin-right:5px;
}
.flu {
	background:url(app/resource/Images/gap-anlysis.png) -168px -114px!important;
}
.stay {
	background:url(app/resource/Images/gap-anlysis.png) -184px -114px!important;
}
.prgnnt {
	background:url(app/resource/Images/gap-anlysis.png) -228px -114px!important;
	width:11px!important;
}
.nutri {
	background:url(app/resource/Images/gap-anlysis.png) -241px -114px!important;
}
.obsity {
	background:url(app/resource/Images/gap-anlysis.png) -258px -116px!important;
}
.hlth {
	background:url(app/resource/Images/gap-anlysis.png) -240px -117px!important;
}
.modfy {
	width: 14px;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
.delvrd {
	width: 14px;
	float:right;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background: url(app/resource/Images/gap-anlysis.png) -117px -210px;
}
.faild {
	width: 14px;
	float:right;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background: url(app/resource/Images/gap-anlysis.png) -130px -210px;
}
.reschdl {
	width: 14px;
	float:right;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background: url(app/resource/Images/gap-anlysis.png) -143px -210px;
}

.pt_close {
	width: 14px;
	height: 18px;
	margin-right: 2px;
	text-align: center;
	cursor:pointer;
	display:block;
	margin: 0 auto;
	background: url(app/resource/Images/gap-anlysis.png) -155px -208px;
}
.enroll {
	width: 18px;
	height: 18px;
	background: url(app/resource/Images/gap-anlysis.png) -168px -134px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
}
.enroll-block {
	margin-top:5px;
	margin-bottom:5px;
	height: 35px;
	float: right;
}
.enroll-block .right-tools {
	float:right;
}
.enroll-block .right-tools p {
	float: left;
	width: 734px;
	/* display: none; */
	position: relative;
	left: -131px;
}
.enroll-block .right-tools .add-btn {
	height:30px;
	padding:3px 8px;
	min-width:75px;
	line-height:21px;
	font-size:11px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #d4d4d4;
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37,176,233,1)), color-stop(4%, rgba(34,175,229,1)), color-stop(7%, rgba(35,174,231,1)), color-stop(17%, rgba(31,170,225,1)), color-stop(31%, rgba(27,166,223,1)), color-stop(46%, rgba(20,159,214,1)), color-stop(72%, rgba(10,149,206,1)), color-stop(78%, rgba(7,146,201,1)), color-stop(96%, rgba(1,140,195,1)), color-stop(100%, rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5', GradientType=0 ); /* IE6-9 */
}
.enroll-block .right-tools .add-btn span {
	width:16px;
	height:20px;
	float:left;
	margin-right: 3px;
	background:url(app/resource/Images/gap-anlysis.png) -100px -109px;
}
.top_block {
	height:60px;
	padding: 0 2px;
	margin-top: 5px;
	border: 1px solid #bfbfbf;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	margin: 0 0 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
 background: #ffffff url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #ffffff), color-stop(100%, #e6e6e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e7', GradientType=0);
	cursor: auto;
}
.top_block .blk_left {
	width:80px;
	height:50px;
	border-right:1px solid #e0e0e0;
	float:left;
	background:#f4f4f4;
	padding:10px;
}
.top_block .blk_left img {
	width:50px;
	height:50px;
	padding-left:15px;
}
.top_block .blk_scnd, .ice-container .top_block .blk_content {
	width:428px;
	text-align:center;
	height:50px;
	padding:10px;
	float:left;
}
.top_block .blk_scnd .name, .ice-container .top_block .blk_content .name, .session_bar .name {
	font-size:17px;
	font-family: "opensans_semibold";
	display:block;
	margin-bottom:3px;
	line-height: 45px;
}
.top_block .blk_scnd p {
	display:block;
	font-family: "opensans_semibold";
}
.top_block .catgry-block {
	float:left;
	margin-right: 10px;
	border:1px solid #f0f0f0;
	width:105px;
	-moz-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:36px;
	margin: 3px 1px 3px 1px;
	padding:8px;
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37,176,233,1)), color-stop(4%, rgba(34,175,229,1)), color-stop(7%, rgba(35,174,231,1)), color-stop(17%, rgba(31,170,225,1)), color-stop(31%, rgba(27,166,223,1)), color-stop(46%, rgba(20,159,214,1)), color-stop(72%, rgba(10,149,206,1)), color-stop(78%, rgba(7,146,201,1)), color-stop(96%, rgba(1,140,195,1)), color-stop(100%, rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5', GradientType=0 ); /* IE6-9 */
}
.catgry-block a {
	display: block;
	text-align: center;
	height: auto;
	color: #000;
	max-height: 52px;
	font-size: 11px;
	line-height:8px;
}
.catgry-block a > h2 {
	margin-bottom: 5px;
	font-size:20px;
	text-align:center;
	font-family: "opensans_semibold";
	font-weight:normal;
	color:#fff;
	line-height: 18px;
}
.catgry-block .title {
	padding: 0;
	vertical-align: baseline;
	word-break: break-word;
	display: block;
	font-size: 12px;
}
.session_bar {
	text-align: center;
	height: 40px;
	padding: 10px;
}

.session_bar .header-profile {
	height: 25px;
	
	}
.session_bar img {
	width:40px;
	height:40px;
	border-radius:40px;
	float: left;
	}
.session_bar .header-profile p {
	float:left;
	min-width: 140px;
	text-align:left;
	font-size:12px;
	color:#00a3e4;
	margin-left:15px;
	margin-right:15px;
	font-family: "opensans_semibold";
}
.session_bar .header-profile p label {
	color:#808080;
}

.session_bar .title {
	position: absolute;
	font-size: 17px;
	font-family: "opensans_semibold";
	text-align: center;
	display: block;
	top: 25px;
	right: 406px;
}
.session_bar .title .flushot {
	width: 28px;
	height: 25px;
	background: url(app/resource/Images/gap-anlysis.png) -226px -54px;
	float: left;
}
.prgm-ovrviw {
	background:#f6f6f6;
	border:1px solid #e2e2e2;
	border-radius:4px;
	height:120px;
	padding: 10px;
}
.prgm-ovrviw .line-one {
	border: 1px solid #dddddd;
	position: relative;
	top: 71px;
}
.touchpoint-main {
	width:250px;
	float:left;/*margin-right: 70px;*/
}
.touchpoint-main:last-child {
	margin-right:0;
}
.touchpoint-main .blue-blok {
	height:47px;
	padding:8px;
	-moz-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37,176,233,1)), color-stop(4%, rgba(34,175,229,1)), color-stop(7%, rgba(35,174,231,1)), color-stop(17%, rgba(31,170,225,1)), color-stop(31%, rgba(27,166,223,1)), color-stop(46%, rgba(20,159,214,1)), color-stop(72%, rgba(10,149,206,1)), color-stop(78%, rgba(7,146,201,1)), color-stop(96%, rgba(1,140,195,1)), color-stop(100%, rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5', GradientType=0 ); /* IE6-9 */
}
.touchpoint-main .blue-blok .tch-icon {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin: 0 auto;
}
.touchpoint-main .blue-blok .tch-icon.awarenss {
	background: url(app/resource/Images/gap-anlysis.png) -9px -143px;
}
.touchpoint-main .blue-blok .tch-icon.cmptr {
	background: url(app/resource/Images/gap-anlysis.png) -116px -168px;
}
.touchpoint-main .blue-blok .tch-icon.reminder {
	background: url(app/resource/Images/gap-anlysis.png) -150px -168px;
}
.touchpoint-main .blue-blok .tch-icon.family {
	background: url(app/resource/Images/gap-anlysis.png) -176px -168px;
}
.touchpoint-main .blue-blok h3 {
	text-align:center;
	font-size:13px;
	color:#fff;
	margin-top: 5px;
}
.tools-bitton-box {  float:left;}
.tools-bitton-box .patnt-btn {
  height: 30px;
  padding: 3px 8px;
  margin-right:5px;
  text-align:center;
  min-width: 100px;
  line-height: 18px;
  font-size: 13px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
/*	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);*/
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(226,226,226,1) 37%, rgba(205,205,205,1) 86%, rgba(202,202,202,1) 97%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(37%,rgba(226,226,226,1)), color-stop(86%,rgba(205,205,205,1)), color-stop(97%,rgba(202,202,202,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	
}
.tools-bitton-box .patnt-btn.selected {
  	background: rgb(170,204,68); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(170,204,68,1)), color-stop(6%, rgba(171,203,76,1)), color-stop(11%, rgba(171,203,78,1)), color-stop(56%, rgba(171,203,78,1)), color-stop(61%, rgba(162,199,60,1)), color-stop(67%, rgba(160,197,57,1)), color-stop(94%, rgba(160,197,57,1)), color-stop(100%, rgba(159,199,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aacc44', endColorstr='#9fc732', GradientType=0 ); /* IE6-9 */
}
.touchpoint-main .tools {
	height:95px;
	border-radius:6px;
	border:1px solid #d6d6d6;
	margin-top:3px;
	 background: #ffffff url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #ffffff), color-stop(100%, #e6e6e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e7', GradientType=0);
}

.touchpoint-main .tools h1 { 
	margin: 7px 0 2px 0;
	font-size:12px; 
	color:#616161;
	font-family: "opensans_semibold";
	font-weight:normal;
}
.touchpoint-main .tools .lttr-icn {
	width: 35px;
	height: 35px;
	float:left;
	margin: 6px 17px 6px 10px;
	border-radius:3px;
	border:1px solid #d4d4d4;
	background: #f4f4f4;
}
.touchpoint-main .tools .lttr-icn:last-child{ margin-right:0;}
.touchpoint-main .tools .lttr-icn.blank-a {
}
.touchpoint-main .tools .lttr-icn.blank {
}
.touchpoint-main .tools .lttr-icn .mail {
	background: url(app/resource/Images/gap-anlysis.png) -235px -138px;
	margin: 2px 2px 2px 3px;
	width: 27px;
	height: 29px;
	float:left;
}
.touchpoint-main .tools .lttr-icn .sms {
	background: url(app/resource/Images/gap-anlysis.png) -216px -165px;
	margin: 7px 2px 2px 4px;
	width: 27px;
	height: 23px;
	float:left
}

.touchpoint-main .tools .lttr-icn .tick { 
	width:19px; height:20px; 
	float:left;
	background: url(app/resource/Images/gap-anlysis.png) -204px -204px;
	position: relative;
	left: 9px;
	top:7px;
	cursor:pointer;
}

.touchpoint-main .tools .lttr-icn .close { 
	width:19px; height:20px; 
	float:left;
	background: url(app/resource/Images/gap-anlysis.png) -226px -203px;
	position: relative;
	left: 9px;
	top:6px;
	cursor:pointer;
}

.touchpoint-main .tools .lttr-icn .phone {
	background: url(app/resource/Images/gap-anlysis.png) -260px -138px;
	margin: 2px 2px 2px 3px;
	width: 27px;
	height: 29px;
	float:left
}
.touchpoint-main .tools .lttr-icn .book {
	background: url(app/resource/Images/gap-anlysis.png) -212px -138px;
	margin: 2px 2px 2px 3px;
	width: 27px;
	height: 29px;
	float:left
}
.days {
	color: #a0c539;
	width:45px;
	font-size: 10px;
	font-family: "opensans_bold";
	float: left;
	margin-top: 77px;
	padding-left: 10px;
}
.touchpoint-main .tools .lttr-icn.blank:after {
	content: '';
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #414141;
	border-width: 5px 0 5px 5px;
	margin-top:9px;
	margin-right: 3px;
	left:27px;
	pointer-events: none;
}
.touchpoint-main .tools .lttr-icn .mail:after {
	content: '';
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #414141;
	border-width: 5px 0 5px 5px;
	margin-top:9px;
	margin-right: 3px;
	left:44px;
	pointer-events: none;
}
.touchpoint-main .tools .lttr-icn .sms:after {
	content: '';
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #414141;
	border-width: 5px 0 5px 5px;
	margin-top:4px;
	margin-right:3px;
	left:44px;
	pointer-events: none;
}
.touchpoint-main .tools .lttr-icn .phone:after {
	content: '';
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #414141;
	border-width: 5px 0 5px 5px;
	margin-top:9px;
	margin-right: 3px;
	left:44px;
	pointer-events: none;
}
.prgrm-title {
	color: #00a3e4;
	width: 960px;
	float: left;
	font-size: 14px;
	display: block;
	margin: 7px 0 0 0;
	 font-family: "opensans_semibold";
}
.day-blk {
	width:75px;
	float:left;
	height:120px;
}
.day-blk h4 {
	font-size:15px;
	position:relative;
	bottom: -70px;
	padding-left: 5px;
}
.day-blk h4 p {
	font-style:italic;
	font-size:10px;
	line-height:13px;
}
.patients-box {
	float:left;
	margin-top: 10px;
	width:350px;
	margin-right:25px;
	height:238px;
	border-bottom:1px solid #d9d9d9;
}
.patients-box .hdng {
	height:35px;
}
.patients-box .hdng h4 {
	color: #00a3e4;
	font-family: "opensans_bold";
	font-size: 14px;
	float:left;
	display: block;
	margin: 15px 0 0 0;
}
.patients-box .btn {
	background:#b5d265;
	color:#000;
	padding:3px 5px;
	float:right;
	position: relative;
	top: 8px;
	right: 3px;
	border-radius:4px;
	border:1px solid #9fa19b;
}
.tchpoint-box .hdng h4 {
	color: #00a3e4;
	font-family: "opensans_bold";
	font-size: 14px;
	float: left;
	display: block;
	margin: 16px 0px 3px 0;
}
.prgrm-title .btn {
	background:#bcbcbc;
	color:#000;
	font-size:11px;
	font-family: "opensans_regular";
	padding:3px 5px;
	float:right;
	position: relative;
	top: -3px;
	right: 0;
	border-radius:4px;
	border:1px solid #9fa19b;
}


.tchpoint-box {
	float:left;
	margin-top: 10px;
	width:585px;
	height:238px;
	border-bottom:1px solid #d9d9d9;
}
.channl-avlble {
	border-top: 1px solid #dddddd;
	/* height: 28px; */
	float: left;
	width: 100%;
	margin-top: 5px;
}
.channl-avlble .channel-main {
	width: 807px;
	float: left;/* margin-right: 70px; */
}
.channl-avlble .tools {
	height:33px;
	border-radius:6px;
	float:left;
	margin-right:58px;
}
.channl-avlble .tools:last-child {
	margin-right:0;
}
.channl-avlble .tools .lttr-icn {
	width:25px;
	height:24px;
	float:left;
	margin: 6px;
	border-radius:3px;
	border:1px solid #d1d1d1;
	background: rgb(249,249,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 18%, rgba(218,218,218,1) 84%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(18%, rgba(244,244,244,1)), color-stop(84%, rgba(218,218,218,1)), color-stop(100%, rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 18%, rgba(218,218,218,1) 84%, rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 18%, rgba(218,218,218,1) 84%, rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 18%, rgba(218,218,218,1) 84%, rgba(214,214,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 18%, rgba(218,218,218,1) 84%, rgba(214,214,214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d6d6d6', GradientType=0 ); /* IE6-9 */
}
.channl-avlble .tools .lttr-icn.blank-a {
}
.channl-avlble .tools .lttr-icn.blank {
}
.channl-avlble .tools .lttr-icn .mail {
	background: url(app/resource/Images/gap-anlysis.png) -58px -144px;
	width: 27px;
	height: 24px;
	float: left;
}
.channl-avlble .tools .lttr-icn .sms {
	background: url(app/resource/Images/gap-anlysis.png) -39px -166px;
	width: 27px;
	height: 24px;
	float: left;
}
.channl-avlble .tools .lttr-icn .phone {
	width: 27px;
	height: 24px;
	float: left;
	background: url(app/resource/Images/gap-anlysis.png) -85px -145px;
}
.channl-avlble .tools .lttr-icn .book {
	width: 24px;
	height: 24px;
	float: left;
	background: url(app/resource/Images/gap-anlysis.png) -37px -144px;
}
.day-blk-one {
	width:130px;
	float:left;
}
.day-blk-one h4 {
	font-size:15px;
	position:relative;
	bottom: -11px;
	padding-left: 5px;
}
.day-blk-one h4 p {
	font-style:italic;
	font-size:10px;
}
.enroll-blk {
	border-top: 1px solid #dddddd;
	float: left;
	width: 100%;
	margin-top: 5px;
}
.day-blk-two {
	width:130px;
	float:left;
}
.day-blk-two h4 {
	font-size:15px;
	position:relative;
	bottom: -20px;
	padding-left: 5px;
}
.day-blk-two h4 p {
	font-style:italic;
	font-size:10px;
}
.input-block {
	margin: 8px 0 8px 0;
	width: 140px;
	float: left;
	margin-right:77px;
}
.input-block:last-child {
	margin-right:0;
}
.input-block .drop {
	position: relative;
	margin-bottom: 10px;
}
.input-block .label {
	color:#a0c539;
	font-family: "opensans_semibold";
	font-size: 14px;
	position: relative;
	top: 2px;
}
.input-block .drop select {
	width:78px;
	line-height: 13px;
	height: 23px;
	font-size:12px;
	color:#6d6d6d;
	margin:0 10px 0 0;
	border: 1px solid #e1e1e1;
	font-family: opensans_regular;
	font-size: 12px;
	padding: 3px 15px 3px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: '';
	text-indent: 0.01px;
	border-radius:4px;
	-wekit-border-radius:4px;
	-moz-border-radius:4px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);/* -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); *//* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}
.input-block .drop:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #cccccc transparent transparent transparent;
	top: 55%;
	margin-top: -2px;
	margin-right: 3px;
	right:14px;
	pointer-events: none;
}
.Instructions-blk {
	border:1px solid #dedede;
	height: 115px;
	margin-top: 10px;
	padding:15px;
}
.Instructions-blk p {
	margin-bottom:5px;
	padding-left:5px;
}
.Instructions-blk h3 {
	font-family: "opensans_semibold";
	font-size:14px;
	margin-bottom:10px
	
}




/*
////////////

Aza Header

/////

*/

.aza-header { width:960px;
height: 100px;
}

.aza-header .aza-logo {
background:url('app/resource/Images/samp-logo.png') no-repeat;
    border: none;
    width:200px;
	float:left;
    height: 62px;
    margin-right: 20px;
	margin-top: 15px;
}

.aza-header .nav-menu { width:445px;
float:left;
margin-top: 14px;
margin-left: 90px;
}


.nav-menu ul {
	}

.nav-menu ul li{ 
	padding: 5px 10px;
 border-radius:20px;
 text-align:center;  border:1px solid #00a3e4;
  float:left;margin: 0 5px 0 5px;}

.nav-menu ul li a{
	text-align:center; text-transform:uppercase; font-size:11px; color:#00a3e4; text-align:center; font-family: "opensans_semibold";
	}

.nav-menu ul li.active { background-color:#00a3e4; color:#fff;}



.nav-menu ul li.active a { background-color:#00a3e4; color:#fff;}



.log_in_bx {
	width:192px;
	height:45px;
	float:right;
	position: absolute;
	right: -110px;
	top:62px;
	}

.log_in_bx p {display:inline-block; font-size:12px; color:#7f7f7f;}

.log_in_bx a {
height: 15px;
padding: 3px 13px;
background: #a0c539;
border-radius: 20px;
display: inline-block;
font-family: "opensans_regular";
font-size: 11px;
color: #fff;
}

.crm-table-title {
  background-color: #d3e2a3;
  color: #333;
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
}

#btn-meducation {
  background-image: url(app/resource/Images/btn-meducation.png);
  background-repeat: no-repeat;
  width: 77px;
  height:108px;
}




.aza-header .back_btn {
width: 28px;
  height: 29px;
  background: url(app/resource/Images/back.png) no-repeat;
  position: absolute;
  right: 154px;
  top: 19px;
}





.ptnt-heading {
	background-color: #00a3e4;
	margin: 0px 85px 5px 0;
	padding: 5px 0;
	height: 30px;
}

.ptnt-heading h2 {
	display: inline-block;
	font-size: 18px;
	color:#fff;
	padding: 2px 10px;
	font-family: "opensans_bold";
}
	
.ptnt-heading label {
	background:#f04e4e;
	font-family: "opensans_semibold";
	padding:8px;
	color:#fff;
	font-size: 15px;
	text-align:center;
	float:right;
	margin-right:5px;
	border-radius:2px;
}	
	
	







/* Style for overlay and box */
.inner-pop-box {
	position:fixed;
	width:200px;
	top:150px;
	right:17%;
	background-color:#fff;
	color:#7F7F7F;
	padding: 5px;
	-khtml-border-radius:20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	border-radius: 5px;
}


 .overlay {
	background:transparent url(images/overlay.png) repeat top left;
	background: rgba(0,0,0,0.5);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}
.main_box {
	position:fixed;
	width:760px;
	top:-900px;
	left:17%;
	right:22%;
	background-color:#fff;
	color:#7F7F7F;
	padding: 5px;
	-khtml-border-radius:20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	border-radius: 5px;
}
.box-main {
	margin:0;
	font-size:13px;
	
}

.box h1 {
	border-bottom: 1px solid #7F7F7F;
	margin:-20px -20px 0px -20px;
	padding:10px;
	color:#000;
	font-size:15px;
	font-weight:normal;
	background: -webkit-linear-gradient(#FFFFFF, #E5e5e5); /* For Safari */
	background: -o-linear-gradient(#FFFFFF, #E5e5e5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #E5e5e5); /* For Firefox 3.6 to 15 */
}
a.boxclose {
	float:right;
	width:26px;
	height:26px;
	background:transparent url(app/resource/Images/close-icon.png) no-repeat;
	margin-top:0px;
	margin-right:-4px;
	cursor:pointer;
}
.box-inner .list {
	float:left;
}
.box-inner .list li {
	position:relative;
	padding-bottom:10px;
}
.box-inner input[type=checkbox] {
	margin-top: 0px;
}



.btn_bx{
	margin:5px auto 0 auto;
	display: table;
	padding-top:5px;
	

 }

.confirm_btn {
   background:#cecece;
	margin: 0 10px;
	margin-left: 0!important;
	color: #4A4A4A;
	font-size: 12px;
	line-height: 34px;
	font-weight: normal;
	padding:5px 22px;
	border-radius:5px;
	border:1px solid #9fa19b;
}

.confirm_btn1 {
    background: #a0c539;
  margin: 0 10px;
  margin-left: 0!important;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 34px;
  font-weight: normal;
  padding: 5px 22px;
  border-radius: 5px;
  border: 1px solid #9fa19b;
}

.mini-poup {
	
}

.mini-poup textarea{
	height:100px;
	width:190px;
	}

.confirm_btn:focus{
	  background-color: #a0c539;
 }



.closing_gap_list {
	margin: 10px;
	display: table;
	width: 400px;
	float: left;
}


.closing_gap_list  ul li span {
	display:block;
	font-size:11px;
	font-family: "opensans_semibold";
	text-align: center;
	color:#000;
}
.closing_gap_list  ul li:hover {
	cursor:pointer;
}


.closing_gap_list .margin_rt { margin-right:15px;} 
.closing_gap_list  ul li {
	font-size:14px;
	min-height:20px;
	vertical-align: top;
	font-family: "opensans_bold";
	width:165px;
	color:#999999;
	padding:10px;
	border-bottom: solid 2px #ccc;
	border-radius:8px;
	display:inline-block;
	margin-bottom:5px;
	border:1px solid #c5c5c3;
	background: rgb(234,234,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234,234,234,1)), color-stop(28%, rgba(238,238,238,1)), color-stop(31%, rgba(237,237,237,1)), color-stop(33%, rgba(232,232,232,1)), color-stop(100%, rgba(232,232,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */
}

.closing_gap_list ul li.actve {
	color:#000;
	cursor:pointer;
	border:1px solid #c4c3c2;
	background: -moz-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(213,229,166,1)), color-stop(9%, rgba(216,231,174,1)), color-stop(29%, rgba(217,232,177,1)), color-stop(32%, rgba(210,226,161,1)), color-stop(35%, rgba(206,226,155,1)), color-stop(94%, rgba(206,226,155,1)), color-stop(100%, rgba(207,227,158,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e5a6', endColorstr='#cfe39e', GradientType=0 ); /* IE6-9 */
}



	
	

.adhoc-blk {
	width:334px;
	height:300px;
	background:#eeeeee;
	border-radius:3px;
	border:1px solid #a3a3a3;
	float:left;
}	
	
	
.adhoc-blk .adhc-heading {
  background-color: #F4F4F4;
  text-align: center;
  padding: 5px 0;
  height: 30px;
  border-radius: 3px;
  border-bottom: 1px solid #616161;
}

.adhoc-blk .adhc-heading.green{ background-color:#b5d265!important;}
	
.adhoc-blk .adhc-heading h2 {
	display: inline-block;
	font-size: 18px;
	color: #000;
	padding: 2px 10px;
	font-family: "opensans_regular";
	font-weight:normal;
	
}

	
	
.adhoc-blk .adhc-btn {
	width:130px;
	margin: 5px auto 15px auto;
	font-size:12px;
	text-decoration:none;
	color:#000;
	text-align:center;
	border-radius:4px;
	border:1px solid #b0b0b0;
	background:#cecece;
	padding:3px;

	}	
	
.adhoc-blk .adhc-btn a { 
	text-decoration:none; color:#000;
}	
	

.adhoc-blk .message, .adhoc-blk .channel { 
	height:200px;
	background:#fff;
	border-radius:4px;
	border:1px solid #a4a4a4; 
	float:left; 
	width:170px;  
	margin-left:5px; 
	margin-top:10px;
	overflow-y: scroll;
	overflow-x:hidden;
}

.adhoc-blk .message h2, .adhoc-blk .channel h2 {
	display: inline-block;
	font-size: 16px;
	color: #000;
	padding: 2px 0;
	font-family: "opensans_semibold";
	font-weight:normal;
	position:absolute;
	top:121px;
	}


.message ul, .channel ul { margin:0; padding:0;}
.message ul li, .channel ul li { 
	margin:0;  
	border-bottom: 1px solid #CDCDCD;
	font-size:11px;
	padding:3px 0;
}
.message ul li a, .channel ul li a { text-decoration:none;color:#000; padding-left:5px;}

.actve { background:#b5d265;} 
.actve-blue { background:#ccedfa;} 

.adhoc-blk .channel { float:left; width:140px; height:100px;}


.patnt-btn {
	height: 25px;
	padding: 3px 8px;
	margin-right:5px;
	text-align:center;
	min-width:45px;
	line-height: 18px;
	font-size: 11px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	/*	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);*/
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37,176,233,1)), color-stop(4%, rgba(34,175,229,1)), color-stop(7%, rgba(35,174,231,1)), color-stop(17%, rgba(31,170,225,1)), color-stop(31%, rgba(27,166,223,1)), color-stop(46%, rgba(20,159,214,1)), color-stop(72%, rgba(10,149,206,1)), color-stop(78%, rgba(7,146,201,1)), color-stop(96%, rgba(1,140,195,1)), color-stop(100%, rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5', GradientType=0 ); /* IE6-9 */
}
.patnt-btn.selected, .patnt-btn:focus {
	background: rgb(170,204,68); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(170,204,68,1)), color-stop(6%, rgba(171,203,76,1)), color-stop(11%, rgba(171,203,78,1)), color-stop(56%, rgba(171,203,78,1)), color-stop(61%, rgba(162,199,60,1)), color-stop(67%, rgba(160,197,57,1)), color-stop(94%, rgba(160,197,57,1)), color-stop(100%, rgba(159,199,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(170,204,68,1) 0%, rgba(171,203,76,1) 6%, rgba(171,203,78,1) 11%, rgba(171,203,78,1) 56%, rgba(162,199,60,1) 61%, rgba(160,197,57,1) 67%, rgba(160,197,57,1) 94%, rgba(159,199,50,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aacc44', endColorstr='#9fc732', GradientType=0 ); /* IE6-9 */
}








