.measure-view-content .total-gap-left-content {
	width:170px;
	float:left;
	margin-right:25px;
}
.measure-view-content .total-gap-left-content .block-gap {
	height:134px;
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	margin:0 0 20px 0;
	padding:5px;
}

/*.measure-view-content .total-gap-left-content .block-gap h1 {
  font-size: 11px;
  margin-right: 5px;
  font-weight: normal;
  margin-left: 2px;
  color: #000;
  font-family: "opensans_regular";
  display: inline-block;
  line-height: 0;
  padding: 0;
  margin: 8px 70px 8px 0;
  text-align: left;

}*/
.measure-view-content .total-gap-left-content .block-gap .list {
	padding:10px;
	border:0;
	margin:5px 0 0 0;

}
.measure-view-content .total-gap-left-content .block-gap .list td {
	padding:2px 5px;
	  border: 1px solid #EDEDED;
  background-color: #F5F5F5;

} 
.measure-view-content .total-gap-left-content .block-gap .list td:first-child { width:30px;}


.measure-view-content .total-gap-left-content .block-gap .sb_head {
	padding: 5px 5px 6px 5px;
	border-radius:5px;
	background: rgb(68,128,152); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(68,128,152,1)), color-stop(100%, rgba(30,90,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448098', endColorstr='#1e5a72', GradientType=0 ); /* IE6-9 */
}
.measure-view-content .total-gap-left-content .block-gap .sb_head i {
	padding-right:5px;
	background: url(../Images/gap-anlysis.png) no-repeat;
	height:18px;
	width:18px;
	float:left;
}
.ga {
	background-position:-8px -14px!important;
}
.ttpo {
	background-position:-33px -15px!important;
}
.ttpr {
	background-position:-56px -13px!important;
}
.measure-view-content .total-gap-left-content .block-gap .sb_head span {
	font-size:12px;
	font-family: "opensans_semibold";
	color:#fff;
	text-align: left;
	display: block;
	padding-left:25px;
}
.measure-view-content .total-gap-left-content .block-gap p {
	font-size:30px;
	color:#727272;
	text-align: center;
	padding: 45px 0;
	font-family: "opensans_light";
}
.measure-view-content .total-gap-right-content {
	width:100%;
	background:#fff;
}
/***
Responsive & Scrollable Tables
***/

.table-provider {
	width:45%;
	max-height:250px;
	float: left;
}
.table-provider .panel-heading {
	min-height: 26px;
	margin-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: rgb(112,112,112);
	background: -moz-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(112,112,112,1)), color-stop(5%, rgba(112,112,112,1)), color-stop(9%, rgba(108,108,108,1)), color-stop(27%, rgba(103,103,103,1)), color-stop(100%, rgba(74,74,72,1)));
	background: -webkit-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: -o-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: linear-gradient(to bottom, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#4a4a48', GradientType=0 );
}
.table-provider .panel-heading span {
	padding: 4px 0 0 0;
	font-size: 13px;
	color: #fdfdfd;
	font-family: "opensans_semibold";
	display: block;
	margin-left: 10px;
	float:left;
}
.table-provider .panel-heading .btn-ctrl {
	width: auto;
	float: right;
	padding: 0 5px 0 0;
}
.table-provider .panel-heading .btn-ctrl .button-icon {
	width:16px;
	height:25px;
	float: left;
	margin-left:2px;
}
.table-provider .panel-heading .btn-ctrl .fltr {
	background: url(../Images/gap-anlysis.png) no-repeat -129px -9px;
}
.table-provider .panel-heading .btn-ctrl .sttng {
	background: url(../Images/gap-anlysis.png) no-repeat -148px -9px;
	width:20px!important;
}
.mmbr-dtls {
	width: 33%!important;
	margin-left:35px!important;
}
.table-scrollable .reload {
	width: 21px;
	height: 20px;
	position: absolute;
	background: url(../Images/gap-anlysis.png) no-repeat -191px -11px;
	right: 0;
	cursor:pointer;
}
.table-scrollable {
	width:auto!important;
}
.table-scrollable, .table-provider {
	width: 40%;
	padding:5px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #dddddd;
	margin: 10px 0 !important;
	border: 1px solid #c7c7c7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	background-color: #fff;
	font-size:11px;
	max-height:462px;
}
.table-scrollable .table, .table-provider .table {
	width: 100% !important;
	margin: 0 !important;
	margin-bottom: 0;
	background-color: #fff;
	-moz-border-radius: 10px;
}
.table-scrollable .table th, .table-provider .table th {
	background-color:#ececec;
	padding:5px;
	border-radius:0;
	font-family: "opensans_bold";
	font-size:11px;
	vertical-align: middle;
}
.table-scrollable .table td, .table-provider .table td {
	padding:5px;
	text-align:center;
	vertical-align: middle;
}
.table-provider .table .red, .table-scrollable .table .red {
	color:#e04f18;
	font-family: "opensans_bold";
}
.table-provider .table .green, .table-scrollable .table .green {
	color:#5cba47;
	font-family: "opensans_bold";
}
.table-scrollable .table .star {
	width:14px;
	height:14px;
	float:left;
	background:url(../Images/gap-anlysis.png) no-repeat -82px -19px;
}
.table-scrollable .table td .star-hide {
	background-position:-112px -19px!important;
}
.table-scrollable .table td .star-half {
	background-position:-97px -19px!important;
}
.table-scrollable .table td:first-child, .table-provider .table td:first-child {
	text-align:left;
}
.table-scrollable .table th:first-child, .table-provider .table th:first-child {
	text-align:left;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table-scrollable .table th:last-child, .table-provider .table th:last-child {
	text-align:left;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.table-provider .table th:last-child {
	text-align:center;
}
.domain-dept .analysis-buttons {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 22px;
	padding: 4px;
	clear: both;
	margin-top: 5px;
}
.rate-bt {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	padding: 2px 5px;
	font-size: 11px;
}
.ex {
	width:16px;
	height:15px;
	background: url(../Images/gap-anlysis.png) no-repeat -171px -16px;
	float: right;
}
.bt-green {
	background: #5cbb47;
}
.bt-red {
	background: #e04f18;
}
.domain-dept .analysis-buttons span {
	font-size:12px;
	padding-right:5px;
}
.domain-dept .analysis-buttons .btn {
	background-color: #c5c4c4;
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	font-family: opensans_light;
	font-size: 11px;
	cursor: pointer;
}
.domain-dept .analysis-buttons .btn:first-child {
	margin-right: 6px;
}
.domain-dept .analysis-buttons .btn.active {
	background-color: #8eaf7a;
	font-family: opensans_semibold;
	color: #fff;
}
.domain-dept .analysis-buttons .active a:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent #76d041;
	margin-right: 8px;
}
.container-top-bordr {
	border-top:1px solid #e3e3e3;
}
.container-top-bordr-a {
	border-top:1px solid #e3e3e3;
	padding-top: 10px;
}
.measure-view-content .screening-block {
	position: relative;
	border: 1px solid #d0d0d0;
	border-radius:5px;
	overflow: hidden;
	margin: 0 0 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	background: #ffffff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #ffffff), color-stop(100%, #e6e6e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e7', GradientType=0);
	cursor: auto;
}
.measure-view-content .scrn-block-holder {
	border-right: 1px solid #bfbfbf;
	width: 100px;
	float: left;
}
.measure-view-content .scrn-block-holder .info {
	font-size: 14px;
	width: 28px;
	height: 16px;
	line-height: 16px;
}
.measure-view-content .scrn-block-holder .info01 a {
	padding: 0;
	margin: 0;
	font-family: opensans_semibold;
	font-weight: bold;
}
.measure-view-content .scrn-block-holder .info01 .up {
	position: relative;
}
.measure-view-content .scrn-block-holder .info01 .up:after {
	content: none;
	display: none;
}
.measure-view-content .right-blk {
	padding: 15px;
}
.measure-view-content .right-blk .score {
	float:left;
	display:inline-block;
	text-transform:uppercase;
	color:#6e6f6f;
	font-size:13px;
	margin-left: 15px;
}
.measure-view-content .right-blk .scrn {
	float:left;
	display:inline-block;
	text-transform:uppercase;
	color:#000;
	font-size:13px;
	margin: 0 117px;
	font-family: "opensans_semibold";
}
.measure-view-content .right-blk .score-rt {
	float:right;
	display:inline-block;
	text-transform:uppercase;
	color:#6e6f6f;
	font-size:13px;
}
.measure-view-content .scrn-block-frame {
	max-height: 115px;
	/*min-height: 80px;*/
        height: auto;
}
.measure-view-content .scrn-block-frame .left-title {
	color:#e04f18;
	padding:14px;
	font-size:30px;
	font-family: "opensans_semibold";
	background: #f4f4f4;
	text-align: center;
}
.measure-view-content .scrn-block-frame .panel {
	width: 100%;
	right: 0;
}
/*

///////////

ICE SCORECARD
////////////////
*/

.ice-sidebar {
	width: 200px;
	height: 505px;
	padding-top: 0;
	position: relative;
	float:left;
	border: 1px solid #d0d4d5;
	padding: 10px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(215,232,240,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(255,255,255,1)), color-stop(100%, rgba(215,232,240,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(215,232,240,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(215,232,240,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(215,232,240,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 1%, rgba(215,232,240,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7e8f0', GradientType=1 );
}
.incentive-block {
	height: auto;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	margin: 0 0 10px 0;
	padding: 5px;
	border: 1px solid #a6e3fb;
}
.incentive-block .sb_head {
	padding: 5px 5px 6px 5px;
	margin-bottom: 4px;
	border-radius: 5px;
	background: rgb(68,128,152);
	background: -moz-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(68,128,152,1)), color-stop(100%, rgba(30,90,114,1)));
	background: -webkit-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%);
	background: -o-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%);
	background: -ms-linear-gradient(top, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%);
	background: linear-gradient(to bottom, rgba(68,128,152,1) 0%, rgba(30,90,114,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448098', endColorstr='#1e5a72', GradientType=0 );
}
.incentive-block .sb_head i {
	padding-right: 5px;
	background: url(../Images/gap-anlysis.png) no-repeat;
	height: 18px;
	width: 18px;
	float: left;
}
.pat {
	background-position: -8px -41px!important;
}
.gap {
	background-position: -5px -70px!important;
}
.incentive-block .sb_head span {
	font-size: 12px;
	font-family: "opensans_semibold";
	color: #fff;
	text-align: left;
	display: block;
	padding-left: 25px;
}
.incentive-holder {
	display:table;
	border-collapse: collapse;
	width: 210px;
}
.incentive-holder .row {
	display: table;
	width: 210px;
	margin: 1px 0 5px;
}
.incentive-holder .row .col {
	display: table-cell;
	height: 21px;
	vertical-align: middle;
	text-align: left;
	color: rgba(0, 0, 0, 0.8);
	padding: 0 5px;
	font-family: "opensans_semibold";
}
.incentive-holder .row .col.col-1 {
	background: #ebecec;
	border-radius:3px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right:2px solid #fff;
}
.incentive-holder .row .col.col-one {
	font-size:15px;
	font-family: "opensans_regular";
}
.incentive-holder .row .col.col-two {
	font-size:15px;
	width:50px;
	font-family: "opensans_regular";
	text-align:right
}
.incentive-holder .row .red {
	color:#f04e4e;
}
.incentive-holder .row .col.col-2 {
	width:35px;
	background: #ebecec;
	border-radius:3px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	text-align:right;
}
/*
.incentive-holder .row .col:after {
	content: '';
	top: 0;
	left: 0;
	border-right:2px solid #fff;
	margin-left:5px;
	
}
*/


.content_fullwidth {
	width: 720px;
	height: 550px
}
.content_mn {
	width: 720px;
	height: 550px;
	float:left;
	margin-left:15px;
}
.ice-container {
	waidth:auto;
	height:400px;
}
.ice-container .top_block {
	height:70px;
	padding: 0 2px;
	margin-top: 5px;
	border: 1px solid #bfbfbf;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	overflow: hidden;
	margin: 0 0 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
 background: #ffffff url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #ffffff), color-stop(100%, #e6e6e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e7', GradientType=0);
	cursor: auto;
}
.ice-container .top_block .blk_left {
	width:80px;
	height:50px;
	border-right:1px solid #e0e0e0;
	float:left;
	background:#f4f4f4;
	padding:10px;
}
.ice-container .top_block .blk_left img {
	width:50px;
	height:50px;
	padding-left:15px;
}
.ice-container .top_block .blk_scnd, .ice-container .top_block .blk_content {
	width:428px;
	text-align:center;
	height:50px;
	padding:10px;
	float:left;
}
.ice-container .top_block .blk_scnd .name, .ice-container .top_block .blk_content .name, .session_bar .name {
	font-size:17px;
	font-family: "opensans_semibold";
	display:block;
	margin-bottom:3px;
	line-height: 45px;
}
.ice-container .top_block .blk_scnd p {
	display:block;
	font-family: "opensans_semibold";
}
.ice-container .top_block .blk_mid {
	width:100px;
	height:50px;
	padding:10px;
	float:left;
}
.ice-container .top_block .blk_mid .round {
	border-radius:100px;
	cursor:pointer;
	text-shadow:0px 1px #d9d9d9;
	font-size:15px;
	line-height: 30px;
	font-family: "opensans_semibold";
	color:#333;
	width:30px;
	height:30px;
	padding:10px;
	border:1px solid #aeaeae;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
 box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53)  background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(175,175,175,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229,229,229,1)), color-stop(100%, rgba(175,175,175,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(175,175,175,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(175,175,175,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(175,175,175,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(187, 187, 187, 1) 100%);
	; /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#afafaf', GradientType=0 ); /* IE6-9 */
}
.ice-container .top_block .blk_patnt {
	width:auto;
	float:right;
	height:55px;
	padding:5px;
}
.ice-container .top_block .blk_patnt .inner {
	background:#cfcfd0;
	border-radius:4px;
	padding:5px;
	width:55px;
	height:50px;
	font-family: "opensans_regular";
	font-size:20px;
	line-height: 50px;
	color:#333;
	text-align: center;
	text-shadow:0px 1px #d9d9d9;
}
.ice-container .interactn_btn {
	margin: 15px 0 5px 0;
}
.interactn_btn ul {
	margin:0 auto;
	padding:0;
	list-style:none;
	display: table;
}
.interactn_btn ul li {
	margin: 0 15px;
	padding:0;
	list-style:none;
	display:inline-block;
	background-color: #e4e3e3;
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	height: 22px;
	min-width:150px;
	line-height: 22px;
	padding: 0 5px;
	font-family: opensans_light;
	font-size: 11px;
	cursor: pointer;
	text-align:center;
}
.interactn_btn ul li a {
	font-size:11px;
	font-family: "opensans_semibold";
	color:#333;
}
.interactn_btn ul li.active {
	color:#fff;
	background: #8eaf7a;
}
.interactn_btn ul li.active a {
	color:#fff;
}
.interactn_btn ul li.active a:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent #fff;
	margin-right: 8px;
}
.ice-container .md_left_block {
	width: 65%;
	float:left;
}
.ice-container .md_left_block .table-scrollable {
	height:368px!important;
}
.ice-container .md_right_block {
	width: 32%;
	float:left;
	margin-left:20px;
}
.rdbt-red {
	background: #ed1c24;
}
.rdbt-green {
	background: #5cbb47;
}
.rdbt-yellow {
	background: #ffcb05;
	color:#333!important;
}
.rdbt-grey {
	background: #c6c6c6;
	color:#333!important;
}
.round-bt {
	border-radius: 100px;
	color: #fff;
	display: inline-block;
	padding:5px!important;
	font-size: 11px;
	height: 6px;
	width: 6px;
	line-height:6px;
	margin-left:11px;
}
.ice-container .md_right_block .table-scrollable {
	height:368px!important;
}
.ice-container .md_right_block .table-scrollable .table td {
	vertical-align: text-bottom!important;
	padding:8px 0;
}
.ice-container .md_left_block .table-scrollable .table td {
	vertical-align: text-bottom!important;
	padding:8px 0;
}
.session_content-left {
}
.session_content-left .table-provider {
	width: 55%;
}
.session_content-right {
}
.session_content-right .table-provider {
	width: 40%!important;
}
/*
//////////////
Gap Closure
////////////////
*/


.gap_closure {
	height:235px;
	border: 1px solid #c7c7c7;
	padding:5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.53);
	background-color: #fff;
}
.gap_closure .panel-heading {
	min-height: 26px;
	margin-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: rgb(112,112,112);
	background: -moz-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(112,112,112,1)), color-stop(5%, rgba(112,112,112,1)), color-stop(9%, rgba(108,108,108,1)), color-stop(27%, rgba(103,103,103,1)), color-stop(100%, rgba(74,74,72,1)));
	background: -webkit-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: -o-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
	background: linear-gradient(to bottom, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(108,108,108,1) 9%, rgba(103,103,103,1) 27%, rgba(74,74,72,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#4a4a48', GradientType=0 );
}
.gap_closure .panel-heading span {
	padding: 4px 0 0 0;
	font-size: 13px;
	color: #fdfdfd;
	font-family: "opensans_semibold";
	display: block;
	margin-left: 10px;
	float: left;
}
.gap_closure .gap_blk {
	height:100px;
}
.gap_closure .gap_blk .col_one, .gap_closure .gap_blk .col_three {
	width:250px;
	float:left;
	height:80px;
}
.gap_closure .gap_blk .col_three {
	float:right;
	width:auto!important;
	margin-right:35px;
}
.gap_closure .gap_blk .col_one p, .gap_closure .gap_blk .col_three p {
	margin:10px 0 10px 0;
	padding:0;
	font-size:12px;
}
.gap_closure .gap_blk .col_two {
	width:150px;
	background:#ececec;
	height:50px;
	padding:10px;
	border-radius:4px;
	float:left;
}
.gap_closure .gap_content_blk {
	width:319px;
	height:80px;
	padding:10px;
	border-radius:4px;
	border:1px solid #d4d4d4;
	float:left;
	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
 background: #ffffff url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #ffffff), color-stop(100%, #e6e6e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e7', GradientType=0);
}
.gap_content_blk-mrgin {
	margin-left:25px!important;
}
ul.sidemenu {
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 10px 0;
	margin: 0;
	list-style: none;
	text-indent: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}
ul.sidemenu .sidemenu-list {
	height: 80px;
	border-bottom:1px solid #e2e4e6;
	margin-bottom: 8px;
}
ul.sidemenu .sidemenu-list a {
	text-indent: 0;
	font-size: 13px;
	color: #8f8f8f;
	display:block;
	line-height: 64px;
}
ul.sidemenu .sidemenu-list a:hover {
	color: #47494a;
	text-decoration:none;
}
ul.sidemenu .sidemenu-list .sb_title {
	white-space: normal;
	padding-left: 10px;
	display: inline-block;
	width: 140px;
	line-height: 17px;
	text-align: left;
}
ul.sidemenu .sidemenu-list .menu-icon {
	float: left;
	padding-right:0;
 padding::0;
	margin:0;
	line-height: 40px;
	width:55px;
	height:55px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:url(../images/ice-sprite.png) -10px -5px;
}
ul.sidemenu .sidemenu-list .menu-icon.office {
	width:56px;
	height:55px;
	background:url(../images/ice-sprite.png) -64px -5px;
}
ul.sidemenu .sidemenu-list .menu-icon.tool {
	width:56px;
	height:55px;
	background:url(../images/ice-sprite.png) -179px -5px;
}
/*ul.sidemenu .sidemenu-list .menu-icon:hover {background:url(../images/bgh.png);}*/
ul.sidemenu .sidemenu-list .menu-icon.active {
	background:url(../images/ice-sprite.png) -6px -4px;
}
.top_block {
	height:60px;
	padding: 0 2px;
	margin-top: 5px;
	border: 1px solid #bfbfbf;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	margin: 0 0 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
	box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.6);
 background: #ffffff url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodÃ¢â‚¬Â¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #ffffff), color-stop(100%, #e6e6e7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #e6e6e7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e7', GradientType=0);
	cursor: auto;
}
.top_block .catgry-block {
	float:left;
	margin-right: 10px;
	border:1px solid #f0f0f0;
	width:148px;
	-moz-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:36px;
	margin: 3px 1px 3px 1px;
	padding:8px;
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37,176,233,1)), color-stop(4%, rgba(34,175,229,1)), color-stop(7%, rgba(35,174,231,1)), color-stop(17%, rgba(31,170,225,1)), color-stop(31%, rgba(27,166,223,1)), color-stop(46%, rgba(20,159,214,1)), color-stop(72%, rgba(10,149,206,1)), color-stop(78%, rgba(7,146,201,1)), color-stop(96%, rgba(1,140,195,1)), color-stop(100%, rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5', GradientType=0 ); /* IE6-9 */
}
.catgry-block a {
  display: block;
  text-align: center;
  height: auto;
  color: #000;
  max-height: 52px;
  font-size: 11px;
  line-height: 8px;
  cursor: default;
}
.category a > img {
	width: 24px;
	height: 19px;
	margin-bottom: 5px;
	vertical-align:middle;
}
.catgry-block .title {
	padding: 0;
	vertical-align: baseline;
	word-break: break-word;
	display: block;
}
.module-blk {
	width: 100%;
	float: left;
	margin-top:5px;
	height: 388px;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*
////////////
Table
*/


.table-responsive {
	min-height:.01%;
	overflow-x:auto
}
.table-responsive {
	width:100%;
	margin-bottom:15px;
	overflow-y:hidden;
	-ms-overflow-style:-ms-autohiding-scrollbar;
	border:1px solid #ddd
}
.table-responsive>.table {
	margin-bottom:0
}
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
	white-space:nowrap
}
table {
	background-color:transparent
}
caption {
	padding-top:8px;
	padding-bottom:8px;
	color:#777;
	text-align:left
}
th {
	text-align:left
}
.table, .table1 {
	width:100%;
	max-width:100%;
	margin-bottom:20px
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th,
.table1>tbody>tr>td, .table1>tbody>tr>th, .table1>tfoot>tr>td, .table1>tfoot>tr>th, .table1>thead>tr>td, .table1>thead>tr>th,{
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top:1px solid #ddd
}
.table>thead>tr>th, .table1>thead>tr>th  {
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th,
.table1>caption+thead>tr:first-child>td, .table1>caption+thead>tr:first-child>th, .table1>colgroup+thead>tr:first-child>td, .table1>colgroup+thead>tr:first-child>th, .table1>thead:first-child>tr:first-child>td, .table1>thead:first-child>tr:first-child>th {

	border-top:0
}
.table>tbody+tbody, .table1>tbody+tbody {
	border-top:2px solid #ddd
}
.table1>tbody+tbody{ border-top:1px solid #ddd}
.table .table, .table1 {
	background-color:#fff
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding:5px
}
.table-bordered {
	border:1px solid #ddd
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border:1px solid #ddd
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width:2px
}
.table>tbody>tr>td, .table1>tbody>tr>td, .table1>tbody>tr>td, .table11>tbody>tr>td   {
	padding: 5px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th,
.table1>tbody>tr>td, .table1>tbody>tr>th, .table1>tfoot>tr>td, .table1>tfoot>tr>th, .table1>thead>tr>td, .table1>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table1>tbody>tr>th{ font-weight:bold; border-right:1px solid #ddd;font-size:13px;}
.table1>tbody>tr>th:first-child {border-left:1px solid #ddd;}

.text-left {
	text-align: left;
}
.table-bordered>thead>tr>th {
	background:#ebebeb;
	color:#5d5d5d;
}
.table,.table1 {
	font-size:11px;
}
.table-bordered>thead>tr>th {
	border-bottom-width: 1px;
}
.table>thead>tr>th, .table1>thead>tr>th {
	padding:3px;
}
.table>tbody>tr>td, .table1>tbody>tr>td {
	padding:5px;
}
.table1>tbody>tr>td { text-align:center; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.table1>tbody>tr>td{  vertical-align: middle;}
.table1 tbody tr td:first-child{
	 border-right:1px solid #ddd; border-top:0; 
	 text-align:left; font-family:"opensans_semibold";
	 border-left:1px solid #ddd;
	   border-top: 1px solid #ddd;
} 
.reload_btn {
	width:17px;
	height:12px;
	cursor:pointer;
	margin-top: 2px;
	padding-right:3px;
	float:left;
	background: url(../Images/gap-anlysis.png) no-repeat -214px -16px;
}
/* Style for overlay and box */
 .overlay {
	background:transparent url(images/overlay.png) repeat top left;
	background: rgba(0,0,0,0.5);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}
.main_box {
	position:fixed;
	width: 613px;
	top:-900px;
	left:22%;
	right:22%;
	background-color:#fff;
	color:#7F7F7F;
	padding: 5px;
	-khtml-border-radius:20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	border-radius: 5px;
}
.box-main {
	margin:0;
	font-size:13px;
}
.box h1 {
	border-bottom: 1px solid #7F7F7F;
	margin:-20px -20px 0px -20px;
	padding:10px;
	color:#000;
	font-size:15px;
	font-weight:normal;
	background: -webkit-linear-gradient(#FFFFFF, #E5e5e5); /* For Safari */
	background: -o-linear-gradient(#FFFFFF, #E5e5e5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #E5e5e5); /* For Firefox 3.6 to 15 */
}
a.boxclose {
	float:right;
	width:26px;
	height:26px;
	background:transparent url(../images/close-icon.png) no-repeat;
	margin-top:-14px;
	margin-right:-15px;
	cursor:pointer;
}
.box-inner .list {
	float:left;
}
.box-inner .list li {
	position:relative;
	padding-bottom:10px;
}
.box-inner input[type=checkbox] {
	margin-top: 0px;
}
.btn_bx {
	margin:5px auto 0 auto;
	display: table;
	padding-top:5px;
}
.confirm_btn {
	background: url(../images/sprite2.png) no-repeat -380px -602px;
	margin: 0 10px;
	margin-left: 0!important;
	color: #4A4A4A;
	font-size: 12px;
	line-height: 34px;
	font-weight: normal;
	padding: 0;
	display: inline-block;
	width: 137px;
	height: 51px;
	text-indent: 48px;
	line-height: 40px;
}
.cancel_btn {
	background: url(../images/sprite2.png) no-repeat -521px -602px;
	margin: 0 10px;
	margin-left: 0!important;
	color: #4A4A4A;
	font-size: 12px;
	line-height: 34px;
	font-weight: normal;
	padding: 0;
	display: inline-block;
	width: 137px;
	height: 51px;
	text-indent: 48px;
	line-height: 40px;
}
.potential_blk {
	height:45px;
	background:#e4e4e4;
	padding:8px;
	border-radius:2px;
	margin-bottom:2px;
}
.potential_blk .col, .potential_blk .col-1 {
	font-size:12px;
	font-family:opensans_semibold;
	color:#000;
	padding:15px;
	float:left;
}
.potential_blk .col-1 {
	width:auto;
	margin-left:35px;
}
.potential_blk .count {
	width:76px;
	height:42px;
	float:left;
}
.potential_blk .col h1, .potential_blk .col-1 h1 {
	text-align:right;
	float:left;
	color:#000;
	font-size:12px;
	display: inline-block;
	padding-right: 30px;
}
.potential_blk .col-1 h1 {
	padding-right:0;
}
.potential_blk .col h1:last-child, .potential_blk_two .col h1:last-child {
	padding-right:0;
}
.potential_blk_two {
	height:45px;
	background:#f0e2a8;
	padding:8px;
	border-radius:2px;
}
.potential_blk_two .col, .potential_blk_two .col-1 {
	font-size:12px;
	font-family:opensans_semibold;
	color:#000;
	padding:15px;
	float:left;
}
.potential_blk_two .col-1 {
	width:auto;
	margin-left:35px;
}
.potential_blk_two .count {
	width:76px;
	height:42px;
	float:left;
}
.potential_blk_two .col h1, .potential_blk_two .col-1 h1 {
	text-align:right;
	float:left;
	color:#000;
	font-size:12px;
	display: inline-block;
	padding-right: 30px;
}
..potential_blk_two {
 text-align:right;
 float:left;
 color:#000;
 font-size:12px;
 display: inline-block;
 padding-right: 30px;
}
.potential_blk_two .col-1 h1 {
	padding-right:0;
}
.closing_gap_list {
	margin: 10px auto 5px auto;
	display: table;
	width: 431px;
}
.closing_gap_list ul li span {
	display:block;
	font-size:11px;
	font-family: "opensans_semibold";
	;
	text-align: center;
	color:#000;
}
.closing_gap_list ul li:hover {
	cursor:pointer;
}
.closing_gap_list .margin_rt {
	margin-right:50px;
}
.closing_gap_list ul li {
	font-size:14px;
	min-height: 35px;
	vertical-align: top;
	font-family: "opensans_bold";
	width:166px;
	color:#999999;
	padding:10px;
	border-bottom: solid 2px #ccc;
	border-radius:8px;
	display:inline-block;
	margin-bottom:5px;
	border:1px solid #c5c5c3;
	background: rgb(234,234,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234,234,234,1)), color-stop(28%, rgba(238,238,238,1)), color-stop(31%, rgba(237,237,237,1)), color-stop(33%, rgba(232,232,232,1)), color-stop(100%, rgba(232,232,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */
}
.closing_gap_list ul li.actve {
	color:#000;
	cursor:pointer;
	border:1px solid #c4c3c2;
	background: -moz-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(213,229,166,1)), color-stop(9%, rgba(216,231,174,1)), color-stop(29%, rgba(217,232,177,1)), color-stop(32%, rgba(210,226,161,1)), color-stop(35%, rgba(206,226,155,1)), color-stop(94%, rgba(206,226,155,1)), color-stop(100%, rgba(207,227,158,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e5a6', endColorstr='#cfe39e', GradientType=0 ); /* IE6-9 */
}
.session_bar {
  width: 578px;
  text-align: center;
  height: 40px;
  padding: 10px;
  float: left;
}
.session_bar .title {
  position: absolute;
  font-size: 17px;
  font-family: "opensans_semibold";
  text-align: center;
  display: block;
  top: 8px;
  right: 406px;
}
.session_bar .bar-inner {
	display:block;
	height:20px;
	width: 540px;
	margin:34px auto 0 auto;
	border: 1px solid #b6b6b6;
	border-radius: 2px;
}
.session_bar .bar-inner .green {
	width:180px;
	height:20px;
	float:left;
	background: rgb(194,220,119); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(194,220,119,1) 0%, rgba(192,219,116,1) 9%, rgba(174,201,98,1) 47%, rgba(169,196,93,1) 49%, rgba(162,192,78,1) 51%, rgba(160,192,65,1) 53%, rgba(153,188,60,1) 64%, rgba(153,184,57,1) 72%, rgba(148,183,55,1) 77%, rgba(149,180,53,1) 83%, rgba(146,181,53,1) 85%, rgba(142,177,49,1) 98%, rgba(149,176,73,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(194,220,119,1)), color-stop(9%, rgba(192,219,116,1)), color-stop(47%, rgba(174,201,98,1)), color-stop(49%, rgba(169,196,93,1)), color-stop(51%, rgba(162,192,78,1)), color-stop(53%, rgba(160,192,65,1)), color-stop(64%, rgba(153,188,60,1)), color-stop(72%, rgba(153,184,57,1)), color-stop(77%, rgba(148,183,55,1)), color-stop(83%, rgba(149,180,53,1)), color-stop(85%, rgba(146,181,53,1)), color-stop(98%, rgba(142,177,49,1)), color-stop(100%, rgba(149,176,73,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(194,220,119,1) 0%, rgba(192,219,116,1) 9%, rgba(174,201,98,1) 47%, rgba(169,196,93,1) 49%, rgba(162,192,78,1) 51%, rgba(160,192,65,1) 53%, rgba(153,188,60,1) 64%, rgba(153,184,57,1) 72%, rgba(148,183,55,1) 77%, rgba(149,180,53,1) 83%, rgba(146,181,53,1) 85%, rgba(142,177,49,1) 98%, rgba(149,176,73,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(194,220,119,1) 0%, rgba(192,219,116,1) 9%, rgba(174,201,98,1) 47%, rgba(169,196,93,1) 49%, rgba(162,192,78,1) 51%, rgba(160,192,65,1) 53%, rgba(153,188,60,1) 64%, rgba(153,184,57,1) 72%, rgba(148,183,55,1) 77%, rgba(149,180,53,1) 83%, rgba(146,181,53,1) 85%, rgba(142,177,49,1) 98%, rgba(149,176,73,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(194,220,119,1) 0%, rgba(192,219,116,1) 9%, rgba(174,201,98,1) 47%, rgba(169,196,93,1) 49%, rgba(162,192,78,1) 51%, rgba(160,192,65,1) 53%, rgba(153,188,60,1) 64%, rgba(153,184,57,1) 72%, rgba(148,183,55,1) 77%, rgba(149,180,53,1) 83%, rgba(146,181,53,1) 85%, rgba(142,177,49,1) 98%, rgba(149,176,73,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(194,220,119,1) 0%, rgba(192,219,116,1) 9%, rgba(174,201,98,1) 47%, rgba(169,196,93,1) 49%, rgba(162,192,78,1) 51%, rgba(160,192,65,1) 53%, rgba(153,188,60,1) 64%, rgba(153,184,57,1) 72%, rgba(148,183,55,1) 77%, rgba(149,180,53,1) 83%, rgba(146,181,53,1) 85%, rgba(142,177,49,1) 98%, rgba(149,176,73,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2dc77', endColorstr='#95b049', GradientType=0 ); /* IE6-9 */
}
.session_bar .bar-inner .green .pop {
	background:url(../Images/gap-anlysis.png) no-repeat -1px -108px;
	position:relative;
	width:23px;
	height:32px;
	top: -27px;
	right:-168px;
}
.session_bar .bar-inner .green .pop span {
	text-align:center;
	position: absolute;
	top: 3px;
	left: 6px;
}
.session_bar .bar-inner .yellow .pop {
	background:url(../Images/gap-anlysis.png) no-repeat -25px -108px;
	position:relative;
	width:23px;
	height:32px;
	top: -27px;
	right:-168px;
}
.session_bar .bar-inner .yellow .pop span {
	text-align:center;
	position: absolute;
	top: 3px;
	left: 6px;
}
.session_bar .bar-inner .red .pop {
	background:url(../Images/gap-anlysis.png) no-repeat -48px -108px;
	position:relative;
	width:23px;
	height:32px;
	top: -27px;
	right:-168px;
}
.session_bar .bar-inner .red .pop span {
	text-align:center;
	position: absolute;
	top: 3px;
	left: 6px;
}
.session_bar .bar-inner .yellow {
	width:180px;
	height:20px;
	float:left;
	background: rgb(244,228,133); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,228,133,1) 0%, rgba(242,226,131,1) 9%, rgba(223,207,112,1) 47%, rgba(219,203,108,1) 49%, rgba(217,200,96,1) 51%, rgba(221,202,82,1) 53%, rgba(220,199,80,1) 57%, rgba(207,186,67,1) 96%, rgba(207,186,69,1) 98%, rgba(200,184,88,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244,228,133,1)), color-stop(9%, rgba(242,226,131,1)), color-stop(47%, rgba(223,207,112,1)), color-stop(49%, rgba(219,203,108,1)), color-stop(51%, rgba(217,200,96,1)), color-stop(53%, rgba(221,202,82,1)), color-stop(57%, rgba(220,199,80,1)), color-stop(96%, rgba(207,186,67,1)), color-stop(98%, rgba(207,186,69,1)), color-stop(100%, rgba(200,184,88,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,228,133,1) 0%, rgba(242,226,131,1) 9%, rgba(223,207,112,1) 47%, rgba(219,203,108,1) 49%, rgba(217,200,96,1) 51%, rgba(221,202,82,1) 53%, rgba(220,199,80,1) 57%, rgba(207,186,67,1) 96%, rgba(207,186,69,1) 98%, rgba(200,184,88,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,228,133,1) 0%, rgba(242,226,131,1) 9%, rgba(223,207,112,1) 47%, rgba(219,203,108,1) 49%, rgba(217,200,96,1) 51%, rgba(221,202,82,1) 53%, rgba(220,199,80,1) 57%, rgba(207,186,67,1) 96%, rgba(207,186,69,1) 98%, rgba(200,184,88,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,228,133,1) 0%, rgba(242,226,131,1) 9%, rgba(223,207,112,1) 47%, rgba(219,203,108,1) 49%, rgba(217,200,96,1) 51%, rgba(221,202,82,1) 53%, rgba(220,199,80,1) 57%, rgba(207,186,67,1) 96%, rgba(207,186,69,1) 98%, rgba(200,184,88,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,228,133,1) 0%, rgba(242,226,131,1) 9%, rgba(223,207,112,1) 47%, rgba(219,203,108,1) 49%, rgba(217,200,96,1) 51%, rgba(221,202,82,1) 53%, rgba(220,199,80,1) 57%, rgba(207,186,67,1) 96%, rgba(207,186,69,1) 98%, rgba(200,184,88,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e485', endColorstr='#c8b858', GradientType=0 ); /* IE6-9 */
}
.session_bar .bar-inner .red {
	width:180px;
	height:20px;
	float:left;
	background: rgb(217,149,148); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(217,149,148,1) 0%, rgba(243,133,132,1) 2%, rgba(245,133,132,1) 6%, rgba(228,116,115,1) 42%, rgba(224,114,113,1) 44%, rgba(225,113,112,1) 48%, rgba(220,108,107,1) 50%, rgba(222,84,84,1) 54%, rgba(222,82,81,1) 56%, rgba(208,70,70,1) 88%, rgba(207,67,66,1) 98%, rgba(200,88,87,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(217,149,148,1)), color-stop(2%, rgba(243,133,132,1)), color-stop(6%, rgba(245,133,132,1)), color-stop(42%, rgba(228,116,115,1)), color-stop(44%, rgba(224,114,113,1)), color-stop(48%, rgba(225,113,112,1)), color-stop(50%, rgba(220,108,107,1)), color-stop(54%, rgba(222,84,84,1)), color-stop(56%, rgba(222,82,81,1)), color-stop(88%, rgba(208,70,70,1)), color-stop(98%, rgba(207,67,66,1)), color-stop(100%, rgba(200,88,87,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(217,149,148,1) 0%, rgba(243,133,132,1) 2%, rgba(245,133,132,1) 6%, rgba(228,116,115,1) 42%, rgba(224,114,113,1) 44%, rgba(225,113,112,1) 48%, rgba(220,108,107,1) 50%, rgba(222,84,84,1) 54%, rgba(222,82,81,1) 56%, rgba(208,70,70,1) 88%, rgba(207,67,66,1) 98%, rgba(200,88,87,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(217,149,148,1) 0%, rgba(243,133,132,1) 2%, rgba(245,133,132,1) 6%, rgba(228,116,115,1) 42%, rgba(224,114,113,1) 44%, rgba(225,113,112,1) 48%, rgba(220,108,107,1) 50%, rgba(222,84,84,1) 54%, rgba(222,82,81,1) 56%, rgba(208,70,70,1) 88%, rgba(207,67,66,1) 98%, rgba(200,88,87,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(217,149,148,1) 0%, rgba(243,133,132,1) 2%, rgba(245,133,132,1) 6%, rgba(228,116,115,1) 42%, rgba(224,114,113,1) 44%, rgba(225,113,112,1) 48%, rgba(220,108,107,1) 50%, rgba(222,84,84,1) 54%, rgba(222,82,81,1) 56%, rgba(208,70,70,1) 88%, rgba(207,67,66,1) 98%, rgba(200,88,87,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(217,149,148,1) 0%, rgba(243,133,132,1) 2%, rgba(245,133,132,1) 6%, rgba(228,116,115,1) 42%, rgba(224,114,113,1) 44%, rgba(225,113,112,1) 48%, rgba(220,108,107,1) 50%, rgba(222,84,84,1) 54%, rgba(222,82,81,1) 56%, rgba(208,70,70,1) 88%, rgba(207,67,66,1) 98%, rgba(200,88,87,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d99594', endColorstr='#c85857', GradientType=0 ); /* IE6-9 */
}
.input-block {
	margin: 8px 0 8px 0;
	height: 25px;
}
.input-block .drop {
	width:160px;
	position: relative;
	margin-bottom: 10px;
}

.input-block .drop select {
	width:126px;
	line-height: 13px;
	height: 23px;
	font-size:12px;
	color:#6d6d6d;
	margin:0 10px 0 0;
	font-family: opensans_regular;
	font-size: 12px;
	padding: 3px 15px 3px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: '';
	text-indent: 0.01px;
	border-radius:4px;
	-wekit-border-radius:4px;
	-moz-border-radius:4px;
	border: 1px solid #dddddd;
    background: #fff;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	
	
}

.input-block .drop:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #cccccc transparent transparent transparent;
	top: 55%;
	margin-top: -2px;
	margin-right: 3px;
	right:14px;
	pointer-events: none;
}
/*
////////////

Aza Header

/////

*/

.aza-header {
	width:960px;
	height: 100px;
}
.aza-header .aza-logo {
	background:url('../images/samp-logo.jpg') no-repeat;
	border: none;
	width:200px;
	float:left;
	height: 62px;
	margin-right: 20px;
	margin-top: 15px;
}
.aza-header .nav-menu {
	width:445px;
	float:left;
	margin-top: 14px;
	margin-left: 90px;
}
.nav-menu ul {
}
.nav-menu ul li {
	padding: 5px 10px;
	border-radius:20px;
	text-align:center;
	border:1px solid #00a3e4;
	float:left;
	margin: 0 5px 0 5px;
}
.nav-menu ul li a {
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
	color:#00a3e4;
	text-align:center;
	font-family: "opensans_semibold";
}
.nav-menu ul li.active {
	background-color:#00a3e4;
	color:#fff;
}
.nav-menu ul li.active a {
	background-color:#00a3e4;
	color:#fff;
}
.log_in_bx {
	width:192px;
	height:45px;
	float:right;
	position: absolute;
	right: -110px;
	top:62px;
}
.log_in_bx p {
	display:inline-block;
	font-size:12px;
	color:#7f7f7f;
}
.log_in_bx a {
	height: 15px;
	padding: 3px 13px;
	background: #a0c539;
	border-radius: 20px;
	display: inline-block;
	font-family: "opensans_regular";
	font-size: 11px;
	color: #fff;
}
.closing_gap_list {
	margin-left:35px;
}
.ptnt-heading {
	background-color: #00a3e4;
	margin: 0px 0 5px 0;
	padding: 5px 0;
	height: 30px;
	border-radius: 3px;
}
.ptnt-heading h2 {
	color:#ffffff;
	line-height:30px;
}
.aza-header .back_btn {
	width: 28px;
	height: 29px;
	background: url(../Images/back.png) no-repeat;
	position: absolute;
	right: 154px;
	top: 19px;
}
.delvrd {
	width: 14px;
	float:right;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background: url(../Images/gap-anlysis.png) -117px -210px;
}
.faild {
	width: 14px;
	float: right;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background: url(../Images/gap-anlysis.png) -130px -210px;
}
.reschdl {
	width: 14px;
	float: right;
	height: 10px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background: url(../Images/gap-anlysis.png) -143px -210px;
}
.blue {
	background-color:#ccedfa!important;
}
.Green {
	background: rgba(160, 197, 57, 0.5)!important;
}
.Red {
	background-color:#FFEDED;
	color:#000;
}
#selected-red {
}
#selected-red tr {
	background-color:#FFEDED;
}
input[type="checkbox"]:focus {
	color: green;
	background:#000;
}
.processed-box {
	height:25px;
}
.processed-box .processed, .processed-box .unprocessed {
	color:#666;
	float:left;
	margin-right:5px;
}
.processed-box .processed span, .processed-box .unprocessed span {
	width:15px;
	height:15px;
	background-color:rgba(160, 197, 57, 0.5);
	float:left;
	margin-right:5px;
	border-radius:8px;
}
.processed-box .unprocessed span {
	background:#FFEDED;
}
/*
//////////////
date picker
//////////////
*/

.time_duration {
	float: left;
	font-size: 12px;
	line-height: 19px;
	color: #333;
	font-family: "opensans_regular";
}
.form_group {
	float: left;
}
.form_group label {
	float: left;
	margin-right: 10px;
	line-height: 23px;
	color:#333;
}
.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	font-size:12px;
	color:#333;
}
.input-group-addon {
	position: relative;
	left: -6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	padding:2px 5px;
	/* font-size: 12px; */
  font-weight: 400;
	line-height: 1px;
	color: #555;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 4px;
	background:#fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.calendar-icn {
	display:inline-block;
	width:22px;
	float:left;
	height:20px;
	background:url(../images/calndr_icn.png) no-repeat;
}
.form-control {
	font-family:"opensans_regular";
	float:left;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 12px;
	color: #6d6d6d;
	background-color: #fff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-group-addon:last-child {
	border-left: 0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	cursor:pointer;
}



.table-noborder{}
.table-noborder table, th, td{
	 border:0;
    border-collapse: collapse;
}


/*
///////
Check box
//////////
*/

.class_checkbox {
    width: 22px;  
    height: 20px;
	background:url(../Images/checked.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.class_checkbox.checked {
    background:url(../Images/cross.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.class_checkedbox {
    width: 22px;  
    height: 20px;
	background:url(../Images/checked.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.class_checkedbox.checkedbox {
    background:url(../Images/cross.png) no-repeat!important;
	display: inline-block;
	vertical-align: middle;
}

.highlight{ background:#ccedfa;}


