.part-block{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#7e7e7e',GradientType=0 );}
.part-block ul{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#acadae',GradientType=0 );}
.block-rating{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );}
.popup .btn{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#b9b9b9',GradientType=0 );}
.popup .box{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#b8b8b8',GradientType=0 );}
.inner .table-frame .columns .info{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cacaca',GradientType=0 );}
.block-inform .block-holder .row{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );}
#content .category:before{border:none;}
