
.side-menu {
	width:165px;
	height:505px;
	float:left;
	padding:5px 5px 0 0;
}

.side-menu .heading, .custom_heading {
	background:#c6e2fa;
	padding:5px;
	width : 170px;
	font-family: "opensans_semibold";
	color:#0090d0;
	font-size:14px;
	border-color:#b1cfe9;
	border-top:1px solid #b1cfe9;
	border-bottom:1px solid #b1cfe9;
	
}

.custom_heading{
	margin:6px 0;
}

.standard-selection-menu {
	background:#f4f9fd;
	height:210px;
	width: 170px;
	border: 1px solid #cfd9e3;
	border-top:0;
}

.standard-selection-menu ul {
	margin:0;
	padding:5px;
	list-style:none;
}

.standard-selection-menu ul li{
	display:block;
	background-color:#f4f9fd;
	padding:5px 0;
	border-bottom: 1px solid #dbe0e4;
}

.standard-selection-menu ul li a{
	color:#333;
	text-decoration:none;
	padding-left:12px;
	font-size:12px;
	margin: 3px 0;
	display: block;
}

.standard-selection-menu ul li a:after{
	border-color:transparent  #6c6d71 ;
	border-style: solid;
	border-width:3px 0 3px 3px;
	content: "";
	left: 3%;
	position: absolute;
	width: 0;
	margin: 5px 0 0 0;
}
	

.standard-selection-menu ul li.active {
	background:#a0c539;
	border-radius:5px;
	border-color:transparent #fff;

}

.input-block{
	margin-top: 7px;
}

.input-block .drop select disabled{
	cursor: not-allowed;
	background-color:#eee!important;
  opacity: 1;
	}


.input-block .drop {
	width:170px;
	position: relative;
	margin-bottom: 10px;
}
.input-block .drop select {
	width: 160px;
	line-height: 13px;
	height: 25px;
	font-size:12px;
	color:#6d6d6d;
	margin:0 10px 0 0;
	border: 1px solid #e1e1e1;
	font-family: opensans_regular;
	font-size: 12px;
	padding: 3px 15px 3px 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: '';
	text-indent: 0.01px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);/* -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); *//* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}
.input-block .drop:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #cccccc transparent transparent transparent;
	top: 55%;
	margin-top: -3px;
	margin-right: 8px;
	right:8px;
	pointer-events: none;
}





.column {
	width: 168px;
	}
.column:last-child{
	 margin-right:0;
 }

	
.column .control-label{
	font-size:12px;
	color:#7d7d7d;
	padding-right:15px;
	}
	



	

.column  .drop {
	position: relative;
	margin-bottom: 10px;
}
.column  .drop select {
	width:114px;
	font-size:12px;
	color:#a9a9a9;
	margin:0;
	border: 1px solid #e1e1e1;
	font-family: opensans_regular;
	padding:3px 15px 2px 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: '';
	text-indent: 0.01px;
	line-height:17px;
}

.column  .drop:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #ccc  transparent transparent transparent;
	top:30%;
	right:7px;
	pointer-events: none;

}



.column .drop input {
	height:21px;
	width: 85px;
	font-size:11px;
	color:#a9a9a9;
	margin:0;
	border: 1px solid #dfdfdf;
	font-family: opensans_regular;
	padding:3px 15px 2px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: '';
	text-indent: 0.01px;

}


.left-edit-block {
	padding:5px;
	height:258px;
	width: 170px;
	background-color:#fcf6f6;
	border:1px solid #ddd7d7;
	margin-top: 5px;
	color:#6e6e6e;
}

.left-edit-block a {
	color:#1b90b1;
	font-size:12px;
	padding-right:5px;
	margin-bottom:8px;
	display:inline-block;
}
.left-edit-block a:hover { 
	text-decoration:underline;
} 
 h3 {
	display:block;
	font-size:12px;
	margin-bottom:4px;
	font-family: "opensans_semibold";
}

.margin_btm { 
	margin-bottom:8px!important;
	display:block;
}




.search-container {
	vertical-align: top;
	margin-top: 1px;
}

.search-patnt-blk{ 
	float:left;
	display:inline-block;
	margin-top: 3px;
	padding-right:10px;
	position: absolute;
	right: 7px;

} 
.search-patnt-blk span { 
	color:#fefefe;
	font-size:12px;
	padding-right: 15px;
}

.search-patnt-blk input[type=text]{
	height:18px!important;
	
}

.search-container input[type=text], .search-patnt-blk input[type=text] {
	width:110px;
	height: 18px;
	margin-bottom: 0;
	font-size: 12px;
	font-family: "opensans_regular";
	color: #888;
	border: 1px solid #e1e1e1;
	padding: 3px 10px 2px 8px;
	background-image: url('../images/search.jpg'), none;
	background-position: right;
	background-repeat: no-repeat;
	background-color: #fff;
	/* background-position: -269px -92px !important; */
	padding-right: 25px !important;
	cursor: pointer;
}

.left-edit-block .edit_blk {
	float:right;
	margin-top:3px;	
}
.left-edit-block .edit_blk .edit_btn {
	background-color:#d0d5d1;
	padding:5px 10px;
	color:#2e332f;
	text-align:center;
	display: inline-block;
	border-radius:4px;
	margin-top: 6px;		
}


.left-edit-block .edit_blk .edit_btn:hover { text-decoration:none;}

.edit_main {
	float:right;
	margin-top:-10px;
	margin-right:3px;	
}
.edit_main .edit_btn {
	padding:4px 10px;
	font-size:12px;
	color:#fff;
	text-align:center;
	display: inline-block;
	border-radius:4px;
	margin-top: 6px;	
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37,176,233,1)), color-stop(4%, rgba(34,175,229,1)), color-stop(7%, rgba(35,174,231,1)), color-stop(17%, rgba(31,170,225,1)), color-stop(31%, rgba(27,166,223,1)), color-stop(46%, rgba(20,159,214,1)), color-stop(72%, rgba(10,149,206,1)), color-stop(78%, rgba(7,146,201,1)), color-stop(96%, rgba(1,140,195,1)), color-stop(100%, rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5', GradientType=0 ); /* IE6-9 */
}

.edit_main .edit_btn:hover { text-decoration:none;}
		


#patnt-content {
	width:785px;
	height:510px;
	float:right;
	margin-top: 5px;
}	

.page-heading {
	background-color:#040404;
	margin: 0px 0 5px;
	padding: 6px 0;
	height:40px;
	width:790;
}	
	
	
.page-heading h2 {
	display: inline-block;
	font-size:18px;
	color:#acacac;
	padding:2px 10px;
	font-family: "opensans_bold";
}

.page-heading label {
  background: #f04e4e;
  font-family: "opensans_semibold";
  padding:5px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-right: 5px;
  border-radius: 2px;
}	
	


.view {
	border:1px solid #d0d0d0;
	height:32px;
	width: 783px;
}	
/*.view ul li.actve { background:none;}*/
	
.view ul {
	margin:0;
	padding:0;
	width: 785px;
}	

.view ul li {
	border-right:1px solid #d0d0d0;
	float:left;
	padding:8px 9px 7px 9px;
}	
.view ul li.green{  background-color:#a0c539;}
.view ul li.green a {color:#fff;}
.view ul li:last-child{ border-right:none;}
	
.view ul li a {
	text-decoration:none;
	color:#000;
	text-align:center;
	font-size:12px;
}



.enroll-block {
	margin-top:5px;
	margin-bottom:5px;
}

.enroll-block .enroll-btn{
	height:30px;
	padding:3px 8px;
	line-height:21px;
	font-size:11px;
	display:inline-block;
	color:#d0d0d0;
	text-decoration:none;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #d4d4d4;
	background: rgb(37,176,233); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,176,233,1)), color-stop(4%,rgba(34,175,229,1)), color-stop(7%,rgba(35,174,231,1)), color-stop(17%,rgba(31,170,225,1)), color-stop(31%,rgba(27,166,223,1)), color-stop(46%,rgba(20,159,214,1)), color-stop(72%,rgba(10,149,206,1)), color-stop(78%,rgba(7,146,201,1)), color-stop(96%,rgba(1,140,195,1)), color-stop(100%,rgba(0,141,197,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5',GradientType=0 ); /* IE6-9 */

}

.enroll-block .enroll-btn span {
	width:30px;
	height:20px;
	float:left;
	margin-right: 3px;
	background:url('../images/gap-anlysis.png') -200px -51px;
}


.enroll-block .right-tools {
	float:right;
	  height: 29px;
	 
}

.enroll-block .right-tools .clear-btn{
	height:30px;
	padding:3px 8px;
	min-width:75px;
	line-height:21px;
	font-size:11px;
	display:inline-block;
	color:#585858;
	text-decoration:none;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #d4d4d4;
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(226,226,226,1) 37%, rgba(205,205,205,1) 86%, rgba(202,202,202,1) 97%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(37%,rgba(226,226,226,1)), color-stop(86%,rgba(205,205,205,1)), color-stop(97%,rgba(202,202,202,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 37%,rgba(205,205,205,1) 86%,rgba(202,202,202,1) 97%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */



} 


.enroll-block .right-tools span {
	width:16px;
	height:20px;
	float:left;
	margin-right: 3px;
	background:url('../images/gap-anlysis.png') -79px -110px;
}



.enroll-block .right-tools .add-btn{
	height:30px;
	padding:3px 8px;
	min-width:75px;
	line-height:21px;
	font-size:11px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #d4d4d4;
	background: rgb(37,176,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(37,176,233,1) 0%, rgba(34,175,229,1) 4%, rgba(35,174,231,1) 7%, rgba(31,170,225,1) 17%, rgba(27,166,223,1) 31%, rgba(20,159,214,1) 46%, rgba(10,149,206,1) 72%, rgba(7,146,201,1) 78%, rgba(1,140,195,1) 96%, rgba(0,141,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,176,233,1)), color-stop(4%,rgba(34,175,229,1)), color-stop(7%,rgba(35,174,231,1)), color-stop(17%,rgba(31,170,225,1)), color-stop(31%,rgba(27,166,223,1)), color-stop(46%,rgba(20,159,214,1)), color-stop(72%,rgba(10,149,206,1)), color-stop(78%,rgba(7,146,201,1)), color-stop(96%,rgba(1,140,195,1)), color-stop(100%,rgba(0,141,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(37,176,233,1) 0%,rgba(34,175,229,1) 4%,rgba(35,174,231,1) 7%,rgba(31,170,225,1) 17%,rgba(27,166,223,1) 31%,rgba(20,159,214,1) 46%,rgba(10,149,206,1) 72%,rgba(7,146,201,1) 78%,rgba(1,140,195,1) 96%,rgba(0,141,197,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b0e9', endColorstr='#008dc5',GradientType=0 ); /* IE6-9 */

}

.enroll-block .right-tools .add-btn span {
	width:16px;
	height:30px;
	float:left;
	margin-right: 3px;
	background:url(../images/gap-anlysis.png) -100px -109px;
}



.enroll-block .right-tools .bulk-btn{
	height:30px;
	padding:3px 8px;
	min-width:75px;
	line-height:21px;
	font-size:11px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #d4d4d4;
	background: rgb(72,81,136); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,81,136,1) 0%, rgba(68,80,132,1) 12%, rgba(70,77,131,1) 15%, rgba(66,73,127,1) 26%, rgba(54,63,118,1) 47%, rgba(55,62,117,1) 53%, rgba(50,59,114,1) 59%, rgba(49,56,111,1) 68%, rgba(41,50,105,1) 79%, rgba(42,51,106,1) 82%, rgba(36,45,100,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,81,136,1)), color-stop(12%,rgba(68,80,132,1)), color-stop(15%,rgba(70,77,131,1)), color-stop(26%,rgba(66,73,127,1)), color-stop(47%,rgba(54,63,118,1)), color-stop(53%,rgba(55,62,117,1)), color-stop(59%,rgba(50,59,114,1)), color-stop(68%,rgba(49,56,111,1)), color-stop(79%,rgba(41,50,105,1)), color-stop(82%,rgba(42,51,106,1)), color-stop(100%,rgba(36,45,100,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,81,136,1) 0%,rgba(68,80,132,1) 12%,rgba(70,77,131,1) 15%,rgba(66,73,127,1) 26%,rgba(54,63,118,1) 47%,rgba(55,62,117,1) 53%,rgba(50,59,114,1) 59%,rgba(49,56,111,1) 68%,rgba(41,50,105,1) 79%,rgba(42,51,106,1) 82%,rgba(36,45,100,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,81,136,1) 0%,rgba(68,80,132,1) 12%,rgba(70,77,131,1) 15%,rgba(66,73,127,1) 26%,rgba(54,63,118,1) 47%,rgba(55,62,117,1) 53%,rgba(50,59,114,1) 59%,rgba(49,56,111,1) 68%,rgba(41,50,105,1) 79%,rgba(42,51,106,1) 82%,rgba(36,45,100,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,81,136,1) 0%,rgba(68,80,132,1) 12%,rgba(70,77,131,1) 15%,rgba(66,73,127,1) 26%,rgba(54,63,118,1) 47%,rgba(55,62,117,1) 53%,rgba(50,59,114,1) 59%,rgba(49,56,111,1) 68%,rgba(41,50,105,1) 79%,rgba(42,51,106,1) 82%,rgba(36,45,100,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,81,136,1) 0%,rgba(68,80,132,1) 12%,rgba(70,77,131,1) 15%,rgba(66,73,127,1) 26%,rgba(54,63,118,1) 47%,rgba(55,62,117,1) 53%,rgba(50,59,114,1) 59%,rgba(49,56,111,1) 68%,rgba(41,50,105,1) 79%,rgba(42,51,106,1) 82%,rgba(36,45,100,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485188', endColorstr='#242d64',GradientType=0 ); /* IE6-9 */


}

.enroll-block .right-tools .bulk-btn span {
	width:19px;
	height:20px;
	float:left;
	margin-right: 3px;
	background:url(../images/gap-anlysis.png) -119px -110px;
}



.patnt-table-blk{
	height: 414px;
	overflow-x: hidden;
	margin-top:5px;
	border-bottom:1px solid #ccc;
}


/*
////////////
Table
*/


.table-responsive {
	min-height:.01%;
	overflow-x:auto
}

.table-responsive {
width:100%;
margin-bottom:15px;
overflow-y:hidden;
-ms-overflow-style:-ms-autohiding-scrollbar;
border:1px solid #ddd;
border-left:0; border-right:0;
border-top:0;
}
.table-responsive>.table {
margin-bottom:0
}
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
white-space:nowrap
}

.table-responsive .blue{background:#ccedfa; }
.table-responsive .red{ background:#facbcb;}
.table-responsive .blue td { border-bottom:1px solid #fff;}
.table-responsive .red td {border-bottom:1px solid #fff;}
table {
	background-color:transparent
}
caption {
	padding-top:8px;
	padding-bottom:8px;
	color:#777;
	text-align:left
}
th {
	text-align:left
}
.table {
	width:100%;
	max-width:100%;
	margin-bottom:20px
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top:1px solid #ddd
}
.table>thead>tr>th {
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
	border-top:0
}
.table>tbody+tbody {
	border-top:2px solid #ddd
}
.table .table {
	background-color:#fff
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding:5px
}
.table-bordered {
	border:1px solid #d9d9d9;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border:1px solid #ddd
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width:2px
}


.table>tbody>tr>td {
  padding: 5px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #d9d9d9;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #d9d9d9;
}

.text-left {
  text-align: left;
}

.table-bordered>thead>tr>th{ background:#ebebeb; color:#5d5d5d;}

.table {font-size:11px;}

.table-bordered>thead>tr>th{border-bottom-width: 1px;}
.table>thead>tr>th { padding:3px;}
.table>tbody>tr>td { padding:5px;}






.reload_btn { 
	 height:12px;
	cursor:pointer;
	margin-top: 2px;
	padding-right:3px;
	color:#000;
	text-decoration:underline;

}







/* Style for overlay and box */
.inner-pop-box {
	position:fixed;
	width:200px;
	top:150px;
	right:17%;
	background-color:#fff;
	color:#7F7F7F;
	padding: 5px;
	-khtml-border-radius:20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	border-radius: 5px;
}


 .overlay {
	background:transparent url(../images/overlay.png) repeat top left;
	background: rgba(0,0,0,0.5);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}
.main_box {
	position:fixed;
	width:760px;
	top:-900px;
	left:17%;
	right:22%;
	background-color:#fff;
	color:#7F7F7F;
	padding: 5px;
	-khtml-border-radius:20px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	border-radius: 5px;
}
.box-main {
	margin:0;
	font-size:13px;
	
}

.box h1 {
	border-bottom: 1px solid #7F7F7F;
	margin:-20px -20px 0px -20px;
	padding:10px;
	color:#000;
	font-size:15px;
	font-weight:normal;
	background: -webkit-linear-gradient(#FFFFFF, #E5e5e5); /* For Safari */
	background: -o-linear-gradient(#FFFFFF, #E5e5e5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #E5e5e5); /* For Firefox 3.6 to 15 */
}
a.boxclose {
	float:right;
	width:26px;
	height:26px;
	background:transparent url(../images/close-icon.png) no-repeat;
	margin-top:0px;
	margin-right:-4px;
	cursor:pointer;
	
}
#boxclose-a{ position:relative; top:-36px;}
.box-inner .list {
	float:left;
}
.box-inner .list li {
	position:relative;
	padding-bottom:10px;
}
.box-inner input[type=checkbox] {
	margin-top: 0px;
}



.btn_bx{
	margin:5px auto 0 auto;
	display: table;
	padding-top:5px;
	

 }

.confirm_btn, .overview_btn {
   background:#cecece;
	margin: 0 10px;
	margin-left: 0!important;
	color: #4A4A4A;
	font-size: 12px;
	line-height: 34px;
	font-weight: normal;
	padding:5px 22px;
	border-radius:5px;
	border:1px solid #9fa19b;
}

.confirm_btn1 {
    background: #a0c539;
  margin: 0 10px;
  margin-left: 0!important;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 34px;
  font-weight: normal;
  padding: 5px 22px;
  border-radius: 5px;
  border: 1px solid #9fa19b;
}

.mini-poup {
	
}

.mini-poup textarea{
	height:100px;
	width:190px;
	}

.confirm_btn:focus{
	  background-color: #a0c539;
 }



.closing_gap_list {
	margin: 10px;
	display: table;
	width: 400px;
	float: left;
}


.closing_gap_list  ul li span {
	display:block;
	font-size:11px;
	font-family: "opensans_semibold";
	text-align: center;
	color:#000;
}
.closing_gap_list  ul li:hover {
	cursor:pointer;
}


.closing_gap_list .margin_rt { margin-right:15px;} 
.closing_gap_list  ul li {
	font-size:14px;
	min-height:20px;
	vertical-align: top;
	font-family: "opensans_bold";
	width:165px;
	color:#999999;
	padding:10px;
	border-bottom: solid 2px #ccc;
	border-radius:8px;
	display:inline-block;
	margin-bottom:5px;
	border:1px solid #c5c5c3;
	background: rgb(234,234,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234,234,234,1)), color-stop(28%, rgba(238,238,238,1)), color-stop(31%, rgba(237,237,237,1)), color-stop(33%, rgba(232,232,232,1)), color-stop(100%, rgba(232,232,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(238,238,238,1) 28%, rgba(237,237,237,1) 31%, rgba(232,232,232,1) 33%, rgba(232,232,232,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */
}

.closing_gap_list ul li.actve {
	color:#000;
	cursor:pointer;
	border:1px solid #c4c3c2;
	background: -moz-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(213,229,166,1)), color-stop(9%, rgba(216,231,174,1)), color-stop(29%, rgba(217,232,177,1)), color-stop(32%, rgba(210,226,161,1)), color-stop(35%, rgba(206,226,155,1)), color-stop(94%, rgba(206,226,155,1)), color-stop(100%, rgba(207,227,158,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(213,229,166,1) 0%, rgba(216,231,174,1) 9%, rgba(217,232,177,1) 29%, rgba(210,226,161,1) 32%, rgba(206,226,155,1) 35%, rgba(206,226,155,1) 94%, rgba(207,227,158,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e5a6', endColorstr='#cfe39e', GradientType=0 ); /* IE6-9 */
}






.ptnt-heading {
	background-color: #00a3e4;
	margin: 0px 85px 5px 0;
	padding: 5px 0;
	height: 30px;
}

.ptnt-heading h2 {
	display: inline-block;
	font-size: 18px;
	color:#fff;
	padding: 2px 10px;
	font-family: "opensans_bold";
}
	
.ptnt-heading label {
	background:#f04e4e;
	font-family: "opensans_semibold";
	padding:8px;
	color:#fff;
	font-size: 15px;
	text-align:center;
	float:right;
	margin-right:5px;
	border-radius:2px;
}	
	
	
	
	
	

.adhoc-blk {
	width:334px;
	height:300px;
	background:#eeeeee;
	border-radius:3px;
	border:1px solid #a3a3a3;
	float:left;
}	
	
	
.adhoc-blk .adhc-heading {
  background-color: #F4F4F4;
  text-align: center;
  padding: 5px 0;
  height: 30px;
  border-radius: 3px;
  border-bottom: 1px solid #616161;
}

.adhoc-blk .adhc-heading.green{ background-color:#b5d265!important;}
	
.adhoc-blk .adhc-heading h2 {
	display: inline-block;
	font-size: 18px;
	color: #000;
	padding: 2px 10px;
	font-family: "opensans_regular";
	font-weight:normal;
	
}

	
	
.adhoc-blk .adhc-btn {
	width:130px;
	margin: 5px auto 15px auto;
	font-size:12px;
	text-decoration:none;
	color:#000;
	text-align:center;
	border-radius:4px;
	border:1px solid #b0b0b0;
	background:#cecece;
	padding:3px;

	}	
	
.adhoc-blk .adhc-btn a { 
	text-decoration:none; color:#000;
}	
	

.adhoc-blk .message, .adhoc-blk .channel { 
	height:200px;
	background:#fff;
	border-radius:4px;
	border:1px solid #a4a4a4; 
	float:left; 
	width:170px;  
	margin-left:5px; 
	margin-top:10px;
	overflow-y: scroll;
	overflow-x:hidden;
}

.adhoc-blk .message h2, .adhoc-blk .channel h2 {
	display: inline-block;
	font-size: 16px;
	color: #000;
	padding: 2px 0;
	font-family: "opensans_semibold";
	font-weight:normal;
	position:absolute;
	top:121px;
	}


.message ul, .channel ul { margin:0; padding:0;}
.message ul li, .channel ul li { 
	margin:0;  
	border-bottom: 1px solid #CDCDCD;
	font-size:11px;
	padding:3px 0;
}
.message ul li a, .channel ul li a { text-decoration:none;color:#000; padding-left:5px;}

.actve { background:#b5d265;} 
.actve-blue { background:#ccedfa;} 

.adhoc-blk .channel { float:left; width:140px; height:100px;}




/*
////////////

Aza Header

/////

*/

.aza-header { width:960px;
height:78px;
}

.aza-header .aza-logo {
background:url('../images/samp-logo.png') no-repeat;
    border: none;
    width:200px;
	float:left;
    height: 62px;
    margin-right: 20px;
	margin-top: 15px;
}

.aza-header .nav-menu { width:465px;
float:left;
margin-top: 14px;
margin-left: 90px;
}


.nav-menu ul {
	}

.nav-menu ul li{ 
	padding: 5px 10px;
 border-radius:20px;
 text-align:center;  border:1px solid #00a3e4;
  float:left;margin: 0 5px 0 5px;}

.nav-menu ul li a{
	text-align:center; text-transform:uppercase; font-size:11px; color:#00a3e4; text-align:center; font-family: "opensans_semibold";
	}

.nav-menu ul li.active { background-color:#00a3e4; color:#fff;}



.nav-menu ul li.active a { background-color:#00a3e4; color:#fff;}



.log_in_bx {
	width:192px;
	height:45px;
	float:right;
	position: absolute;
	    right: -95px;
	top:24px;
	}

.log_in_bx p {display:inline-block; font-size:12px; color:#7f7f7f;}

.log_in_bx a {
height: 22px;
padding: 4px 13px;
background: #a0c539;
border-radius: 20px;
display: inline-block;
font-family: "opensans_regular";
font-size: 11px;
color: #fff;
padding-right: 10px;
}




/*
/////////
FOR POPUP
*/

.main_pop_box {
	width:740px;
	display:table;
}
.left_table_pop {
	float:left;
	width:325px;
	height:150px;
	overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}
.center_table_pop {
	float:left;
	width:30px;
	height:70px;
	margin:40px 0;
	padding-left:10px;
}
.right_table_pop {
	float:left;
	width:325px;
	height:150px;
	overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}
.clear{
	clear:both;
}
.main_pop_box th {
	background-color:#f4f3f3;
	text-align:left;
}
.main_pop_box th, td {
	padding:5px;
}
.main_pop_box table, th, td {
    border: 1px solid #333333;
    border-collapse: collapse;
}
.table-noborder{}
.table-noborder table, th, td{
	 border:0;
    border-collapse: collapse;
}

/*
///////////
Tool tip
*/


.tooltip {
	position:absolute;
	z-index:1070;
	display:block;
	font-family:"opensans_regular";
	font-size:14px;
	font-weight:400;
	line-height:1.4;
	visibility:visible;
	text-align:center;
}


.tooltip.in {
	filter:alpha(opacity=10);
	opacity:10;
}


.tooltip.right {
	padding:0 5px;
	margin-left:0;
	text-align:center;
	

}

.tooltip-inner {
	padding:8px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:5px;
	background-color:#a0c539;
	border:2px solid #ececec;
	border-radius:5px;
	margin-left:-32px;
	margin-top:-55px;
	

}
.fade { 
	transition-timing-function: ease-in-out;
}

.tooltip-inner:after{
  content: '';
  display: block;
  position:absolute;
  width: 0;
  height: 0;
  border: solid transparent;
   border-top-color: #f3f3f3;
   border-width:10px;
  margin-top: 9px;
  right:7px;
  margin-right: 3px;
  pointer-events: none;
}



/*
/////////
Input Group
//////////
*/
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin: 5px 0;
}

.input-group label {
	float: left;
	margin-right: 10px;
	line-height: 23px;
	color:#333;
	font-size:12px;
	margin-bottom:3px;
	font-family:"opensans_semibold";
}
.form-control {
  float: left;
  /* width: 100%; */
  font-size: 12px;
  line-height: 16px;
  padding: 5px 12px;
  /* line-height: 19px; */
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}









