<link rel="stylesheet" type="text/css" href="../../resource/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../resource/css/bootstrap.css" />
<div class="col-sm-12"><br><br><br></div>
<div class="col-sm-12">
<div class="col-sm-3"></div>
<div class="col-sm-6" style="padding-right: 0px; padding-left: 0px;">
<div class="card border-info" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="card-body">
<div class="container" align="center">
    <h2>Login</h2>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="background-color: #337ab7; width:37px;"><i class="glyphicon glyphicon-user" style="color: #fff"></i></span>
        <input id="firstname" type="text" class="form-control" name="Username" placeholder="Username">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" style="background-color: #337ab7; width:37px;"><i class="glyphicon glyphicon-lock" style="color: #fff"></i></span>
        <input id="firstname" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br>
    <a href="/patient"class="btn btn-outline-primary" style="border-color: #325D88;"><i class="glyphicon glyphicon-log-in" style="color: #fff"></i>&nbsp;&nbsp;Login</a>
    <br><br>
    <a href="#" id="enroll" class="enroll-btn"><span></span>Forgot Password&nbsp;?</a>
</div>
</div>
</div>
</div>
<div class="col-sm-3"></div>
</div>  


