
<script src="app/resource/js/patientpopup.js"></script>

<!-- wrapper--> 
<div class="col-sm-12" style="margin-bottom:-20px; top:-60px;">
<div class="col-sm-2"></div>
<div class="col-sm-8" align = "center">
<div class="nav-menu" style="color:#FFFFFF">
        
          <div class="btn-group">
<button type="button" class="btn btn-primary"><a href="/patient" style="color:#FFFFFF">Patient</a></button>
<button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Campaign</a></button>
<button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Reports</a></button>
<button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Work List</a></button>
          



      
  
          </div>
          

      
</div>
</div>
<div class="col-sm-2">
        <div class="header-holder">
                <div class="log_in_bx" style="margin-bottom:25px; top:10px;">
                    <a href="/login">LOGOUT</a>
                </div>
        </div>
</div>
</div>
<!-- header -->


<div id="main" >

	<!--side menu-->
	<aside class="side-menu">
    
    
    	<!--side menu-->
        	<div class="standard-selection-menu">
        	   <div class="heading">Standard Selection</div>
            	  <ul>
            		<li><a href="chronic-conditions.html">Chronic Conditions</a></li>
                    <div class="input-block">
                           <label class="drop">
             <select onchange="window.location.href=this.value">
               <option value="cardiovascular.html">Cardiovascular Disease</option>
             <option value="cancer.html">Cancer </option>
             <option value="hypertension.html">Hypertension</option>
            	<option value="rheumatoid-arthritis.html">Rheumatoid Arthritis</option>
                <option value="diabetic.html">Diabetes</option>  
            </select>

        </label>
        </div>
            		<li><a href="female-population.html">Female Population</a></li>
                    <li><a href="Gaps-report.html">Gaps report for:</a></li>
                    
                    <div class="input-block">
                           <label class="drop" >
              <select onchange="window.location.href=this.value">
                    <option value="flushot.html">Flu shot</option>
               <option value="colorectal-cancer.html">Colorectal Cancer Screening</option>
             <option value="diabetic-retinal.html">Diabetic Retinal Exam </option>
                              <option value="adult-BMI.html">Adult BMI Assessment</option>
            	<option value="breast-cancer.html">Breast Cancer Screening</option>
                <option value="ldl-screening.html">LDL Screening</option>
                 <option value="rheumatoid.html"> Rheumatoid Arthritis Management</option>
               

            </select>

        </label>
        </div>
                 </ul>
       
        </div>
        
        
      
      
        
    </aside>
    <!--//End side menu-->
    
    <!--patnt-content-->
    <div id="patnt-content">
    	<div class="conatiner"><div class="page-heading">
            	    <h2>Patient Manager</h2>
                <label [tooltip]="'Number of Patients'">{{noofpatient}}</label>
                <div class="search-patnt-blk"><span>Search Patients</span><input  type="text" [(ngModel)]="search" maxlength="120"></div>
            </div>
            
            
            <div class="enroll-block">
            	<button id="enroll" class="enroll-btn" (click)="addPatienttoCampaign(selectedPatientArray)" data-toggle="modal" data-target="#myModal"><span></span>Enroll Selected</button>
                <div class="right-tools" align="right">
                	<button id="clear" class="clear-btn" (click)="clearSelection()"><span></span>Clear All</button>
                    
                     <a  (click)="$('#EnrollMembers').click()"  class="bulk-btn" href="#"><span></span>Bulk Upload</a>
                 <input id="EnrollMembers" type="file" style="visibility:hidden"/>
                </div>
            </div>
         
            <div class="patnt-table-blk" style="height:413px;">
            	<div class="table-responsive" >
              <table id="selectable" class="table table-bordered text-left" >
              <thead style="position: sticky; table-layout: fixed; ">
                <tr>
                  <th>Member ID</th>
                  <th class="text-center">S.No</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Age</th>
                  <th class="text-center">Last Visit Date</th>
                  <th class="text-center">Open Treatment</th>
                   <th class="text-center">Next Expected Date</th>
                    <th class="text-center">Engagement Score</th>
                    <th class="text-center">Campaigns</th>
                  </tr>
              </thead>
              <tbody ng-controller="PatientComponent">
                
				<tr *ngFor="let patient of patientData | filter:search:startsWith | paginate: { itemsPerPage: 15, currentPage: p }; let i=index " (click)="addPatientToArray(patient, $event)" [class.active]="isPatientSelected(patient)">
                  
                  <td><a [tooltip]="'Select a Patient to see his/her interventions'" (click)=store(patient.pid) class="reload_btn">{{patient.pid}}</a></td>
                  <td class="text-left">{{i+1}}</td>
                  <td>{{patient.name}}</td>
                  <td>{{patient.age}}</td>
                  <td>{{patient.lastvisitdate}}</td>
                  <td>{{patient.opentreatment}}</td>
                  <td>{{patient.nextexpecteddate}}</td>
                  <td bgcolor="#E1B810">{{patient.engagementscore}}</td>
                  <td>{{patient.campaigns}}</td>
                </tr>
                	
              </tbody>
            </table>
            
			<br>
            <div class="pull-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
          </div>
            <!--</div>-->
  	    </div>	
    </div>
    <!--patnt-content-->

</div>


        
      <!--popup-->
      <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Campaigns list</h4>
            </div>
            <div class="modal-body" >
                <div class="list-group" >
                    <button type="button" class="list-group-item list-group-item-action active">
                        Campaign Name
                      </button>
                   
                    <button type="button" ng-controller="CampaignComponent" class="list-group-item list-group-item-action" *ngFor="let campaigns of campaignData">{{campaigns.Name}}</button>
                  
                </div>
            </div>
            <div class="modal-footer enroll-block">
              <button type="button"  class="enroll-btn" data-dismiss="modal">Close</button>
              <button type="submit" class="enroll-btn" data-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    
        <!--End Poup-->
        
  
  






<script src="../../resource/Scripts/app.js"></script>
 <script type="text/javascript">
 function Show()
 {
 document.getElementById("overlay1").style.display='block';
 }
 function Hide()
 {
 document.getElementById("overlay1").style.display='none';
 }
            $(function() {
                $('#enroll').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                });
				
				
				
					
				    $('#planname').click(function(){
                    $('#overlay').fadeIn('fast',function(){
                        $('#box-a').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose-a').click(function(){
                    $('#box-a').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                });
				
					$('.confirm_btn').click(function(){
                    $('#box,#box-a').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                $('td').removeClass('active');
				});
				
					
				$('.cancel_btn').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                
				});
				
		
            });
        </script>
