
<script src="app/resource/js/patientpopup.js"></script>


<!-- wrapper--> 
<div id="wrapper">
<!-- header -->


<div id="main" style="margin-top:-75px;">

	<!--side menu-->
	<aside class="side-menu">
    
    
    	<!--side menu-->
        	<div class="standard-selection-menu">
        	   <div class="heading">Standard Selection</div>
            	  <ul>
            		<li><a href="chronic-conditions.html">Chronic Conditions</a></li>
                    <div class="input-block">
                           <label class="drop">
             <select onchange="window.location.href=this.value">
               <option value="cardiovascular.html">Cardiovascular Disease</option>
             <option value="cancer.html">Cancer </option>
             <option value="hypertension.html">Hypertension</option>
            	<option value="rheumatoid-arthritis.html">Rheumatoid Arthritis</option>
                <option value="diabetic.html">Diabetes</option>  
            </select>

        </label>
        </div>
            		<li><a href="female-population.html">Female Population</a></li>
                    <li><a href="Gaps-report.html">Gaps report for:</a></li>
                    
                    <div class="input-block">
                           <label class="drop" >
              <select onchange="window.location.href=this.value">
                    <option value="flushot.html">Flu shot</option>
               <option value="colorectal-cancer.html">Colorectal Cancer Screening</option>
             <option value="diabetic-retinal.html">Diabetic Retinal Exam </option>
                              <option value="adult-BMI.html">Adult BMI Assessment</option>
            	<option value="breast-cancer.html">Breast Cancer Screening</option>
                <option value="ldl-screening.html">LDL Screening</option>
                 <option value="rheumatoid.html"> Rheumatoid Arthritis Management</option>
               

            </select>

        </label>
        </div>
                 </ul>
       
        </div>
        <!--End side menu-->
        
        <div class="custom_heading">Custom Selection</div>
        
      <div class="column">
            <label class="control-label">Filters</label>
   <div class="edit_main">
        	<a  class="edit_btn" href="#">Add</a>
       	</div>

        </div>
        
        <!--left-edit-block-->
        <div class="left-edit-block">
        	<h3>Gender<br> equals 'F'</h3>
            <h3>AND Age <br>greater than '50'</h3>
            <a href="#">Edit</a> <a href="#">Remove</a>
            
            
            <div class="input-block" id="addbox" style="display:none;">
                
                                <label class="drop margin_btm">
            <select>
            		<option>AND</option>
                	<option>OR</option>
                 </select>

        </label>
        
        
           
                                <label class="drop margin_btm">
          <select>
            		<option>Member Id</option>
                	<option>Name</option>
               		<option>Age</option>
              	    <option>Sex</option>
					<option>Open Gaps</option>
					<option>Condition</option>
                 </select>

        </label>
        
                
                           <label class="drop margin_btm">
           <select>
            	<option>Equals</option>
                <option>Not-Equals</option>
                <option>Greater than</option>
                <option>Lesser than</option>
                
            </select>

        </label>
        
         <label class="search-container">
            <input id="activator" type="text" maxlength="120">

        </label>
        
       <div class="edit_blk">
        	<a   class="edit_btn" href="#">OK</a>
       		<a id="ok" class="edit_btn" href="#">Cancel</a>
       	</div>
        </div>
        </div>
        <!--End left-edit-block-->
        
    </aside>
    <!--//End side menu-->
    
    <!--patnt-content-->
    <div id="patnt-content">
    	<div class="conatiner"><div class="page-heading">
            	    <h2>Patient Manager</h2>
                <label>{{noofpatient}}</label>
                <div class="search-patnt-blk"><span>Search Patients</span><input  type="text" maxlength="120"></div>
            </div>
            
            <div class="view">
            	<ul>
                	<li class="green"><a href="#">View All</a></li>
                    <li data-toggle="tooltip" data-placement="right" *ngFor="let alphabet of alphabets" title="alphabet"><a href="#">{{alphabet}}</a></li>
                </ul>
            </div>
            
            
            <div class="enroll-block">
            	<a href="#" id="enroll" class="enroll-btn"><span></span>Enroll Selected</a>
                
                <div class="right-tools">
                	<a class="clear-btn" href="#"><span></span>Clear All</a>
                    <a class="add-btn" id="planname" href="#"><span></span>Add New</a>
                     <a  (click)="$('#EnrollMembers').click()"  class="bulk-btn" href="#"><span></span>Bulk Upload</a>
                 <input id="EnrollMembers" type="file" style="visibility:hidden"/>
                </div>
            </div>
         
            <div class="patnt-table-blk" style="height:413px;">
            	<div class="table-responsive" >
              <table id="#selectable" class="table table-bordered text-left" >
              <thead style="position: sticky;">
                <tr>
                  <th>Member ID</th>
                  <th class="text-center">S.No</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Age</th>
                  <th class="text-center">Gender</th>
                  
                   <th class="text-center">Phone</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Address</th>
                  </tr>
              </thead>
              <tbody ng-controller="PatientComponent">
                		
				<tr *ngFor="let patient of patientData; let i=index ">

                  <td><a [tooltip]="'Select a Patient to see his/her interventions'" (click)=store(patient.sno) class="reload_btn">{{patient.sno}}</a></td>
                  <td class="text-left">{{i+1}}</td>
                  <td>{{patient.fname}} {{patient.lname}}</td>
                  <td>{{patient.dob}}</td>
                  <td>{{patient.sex}}</td>
                  
                  <td>{{patient.mobile}}</td>
                  <td>{{patient.email}}</td>
                  <td>{{patient.address}}</td>
                </tr>
              </tbody>
            </table>
        </div>
          </div>
            <!--</div>-->
  	    </div>	
    </div>
    <!--patnt-content-->

</div>


        
      <!--popup-->
     <div class="overlay" id="overlay" style="display:none;"></div>
	
       <div class="main_box" id="box" >
            <a class="boxclose" id="boxclose"></a>
            
            <div class="box-main">    <div class="ptnt-heading">
            	<h2>Patients Selected</h2>
                <!--<label>14</label>-->
            </div>
            
            
            
            
    <div class="closing_gap_list">
    <ul>
		<li class="margin_rt"><span>Welcome Program</span></li>
		<li><span>Flu Shot Campaign</span></li>
		 <li class="margin_rt"><span>DRE Program</span></li>
		<li><span>Obesity Program</span></li>
       <li class="margin_rt"><span>Colorectal Cancer Screening Program</span></li>
        <li ><span>Breast Cancer Screening Campaign</span></li>
           <li class="margin_rt"><span>HbA1c Campaign</span></li>
             <li><span>Survey Campaign</span></li>

	</ul>
   
   </div>
   
   <div class="adhoc-blk">
   	<div class="adhc-heading"><h2>Adhoc</h2></div>
    <div class="adhc-btn"><a href="#" onclick='Show();'>Adhoc Writer</a></div>
   <!--innser poup--> 
     <div  class="overlay" id="overlay1" style="display:none;">
	 
	 <div class="inner-pop-box">

     
	<div class="mini-poup">
    	<textarea></textarea>
    </div>
    	 <a href="#" class="confirm_btn1"  (click)="Hide();">OK</a>
	 </div>
	 
	 </div>
	  <!--//innser poup--> 
	  
    
    
      
     <nav class="btn_bx">
         <a href="images/iClin-Engager_Feedback_Ver1.01.pdf" target="_blank" class="overview_btn">Preview</a>
         </nav>
    
   </div>
         
         
         <nav class="btn_bx">
         <a href="#" class="confirm_btn" >OK</a>
         </nav>

            </div>
        </div>
        <!--End Poup-->
        
  
  
  <!--poup -2-->
  
      <div class="overlay" id="overlay" style="display:none;"></div>

 <div class="patnt-table-blk" id="box-a" style="position:fixed; width:650px; top:-900px;left:20%;  z-index:999;padding:15px; height:auto; background:#fff;">
     
   <div class="ptnt-heading"> 	<h2>Add New</h2>

            </div>
        
          <a class="boxclose" id="boxclose-a"></a>
            	<div style="background:#F0F0F0;padding: 25px;">
                    
            <table class="table-noborder" >
       
              <tbody>
              <!--  <tr>
                  <td colspan="3">
                  <div class="input-group">
                    <input style="width: 610px;" type="text" class="form-control">
                                
				</div>
                    </td>
                </tr>-->
                
                 <tr>
                  <td> <div class="input-group"> <label>Name</label> <input style="width:160px"  type="text" class="form-control"></div></td>
                  <td> <div class="input-group"> <label>Age</label> <input style="width:160px"  type="text" class="form-control"></div></td>
                   <td> <div class="input-group"> <label>Sex</label> <input style="width:160px"  type="text" class="form-control"></div></td>
                </tr>
                
                 <tr>
                  <td> <div class="input-group"> <label>Phone</label> <input style="width:160px"  type="text" class="form-control"></div></td>
                  <td> <div class="input-group"> <label>E-mail</label> <input style="width:160px"  type="text" class="form-control"></div></td>
                   <td> <div class="input-group"> <label>Address</label> <input style="width:160px"  type="text" class="form-control"></div></td>
                </tr>
                
              
				
              </tbody>
            </table>
          </div>
          <nav class="btn_bx">
         <a href="#" class="confirm_btn">Cancel</a>  
         <a href="#" class="confirm_btn">Create</a>  
         </nav>
            </div>
  <!--End popup-2-->
   



<footer style="background:#fff; height:27px;" id="footerWrapper">
    <div class="footer">
        
        <p><strong>Contact:&nbsp;</strong><a href="mailto:#">Pareto Healthcare</a></p>
    </div>
</footer>





<script src="../../resource/Scripts/app.js"></script>
 <script type="text/javascript">
 function Show()
 {
 document.getElementById("overlay1").style.display='block';
 }
 function Hide()
 {
 document.getElementById("overlay1").style.display='none';
 }
            $(function() {
                $('#enroll').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                });
				
				
				
					
				    $('#planname').click(function(){
                    $('#overlay').fadeIn('fast',function(){
                        $('#box-a').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose-a').click(function(){
                    $('#box-a').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                });
				
					$('.confirm_btn').click(function(){
                    $('#box,#box-a').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                $('td').removeClass('active');
				});
				
					
				$('.cancel_btn').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                
				});
				
		
            });
        </script>
        
        <script src="../../resource/js/tooltip.js"></script>
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>

