<link rel="stylesheet" type="text/css" href="../../resource/css/campaign-1.css" />
<div class="col-sm-12" style="margin-bottom:-20px; top:-60px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" align = "center">
    <div class="nav-menu" style="color:#FFFFFF">
            
              <div class="btn-group">
    <button type="button" class="btn btn-primary"><a href="/patient" style="color:#FFFFFF">Patient</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Campaign</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Reports</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Work List</a></button>

              </div>
   
    </div>
    </div>
    <div class="col-sm-2">
            <div class="header-holder">
                    <div class="log_in_bx" style="margin-bottom:25px; top:10px;">
                        <a href="/login">LOGOUT</a>
                    </div>
            </div>
    </div>
    </div>
<div id="main" >
	<div class="container" >

    <div class="top_block"style="overflow: hidden">
            	  
                <div class="session_bar" >
                <img src="app/resource/images/prof-pic.png"/>
					      <div class="header-profile"  ng-controller="InterventionComponent"  *ngFor="let intervention of interventionData">
                     	<p><label>Name: </label>{{intervention.fname}} {{intervention.lname}} </p>
                      <p><label>DOB: </label>{{intervention.dob}}</p>
                      <p><label>Patient ID: </label>{{intervention.Id}}</p><br>
                      <p><label>Gender: </label>{{intervention.gender}}</p>
                     	<p><label>Contact:(M): </label>{{intervention.dpcontact}}</p>
                      <p><label>Email: </label>{{intervention.email}}</p><br>
                </div><br>

                </div>

    </div>
    
	<div class="campaign_blok">
      <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
	  <div class="col-sm-4" style="padding-left: 0px;">
       <div class="progrm-table2" style="overflow-y:scroll;">
            <div class="table-responsive" style="overflow-x:hidden;">
                    
            <div style="margin-bottom:0;" class="crm-table" style="width:100%">
                    <div class="crm-table-title">Patient Visits</div>
                    <table class="table text-left">
                        <thead>
                          <tr>
                        
                            <th width="20%">Vists Date</th>

                           <!-- <th  width="50">Triggered Formula</th>-->
                            <th  width="15%">Visit Status</th>

                           </tr>
                        </thead>
                        <tbody >
                        
                          <tr ng-controller="InterventionComponent" *ngFor="let patientvisits of patientvisitsData">
                         
                            <td>{{patientvisits.appdate}}</td>
                            <td><a href="#">{{patientvisits.pvstatus}}</a></td>

                          </tr>
                        </tbody>
                      </table>
                      <br><br>
                </div>
          </div></div></div>
          
          <div class="col-sm-8" style="padding-left: 0px; padding-right: 0px;">
          <div class="history-table2" style="overflow-y:scroll;">
            <div class="table-condensed" >
             <div class="crm-table-title">Diagnosis/Services</div>
             <table class="table table-bordered text-left" align="right">
                <thead>
                  <tr>
                   
                    <th class="text-center" width="17%">Diagnosis Code</th>
                    <th class="text-center" width="12%">Diagnosis Date</th>
                    <th class="text-center" width="10%">Description</th>
                    <th class="text-center" width="15%">Status</th>

                  
                   </tr>
                </thead>
                <tbody >
                
                  
                   <tr ng-controller="InterventionComponent" *ngFor="let diagnosis of diagnosisData">
                    <td>{{diagnosis.diagid}}</td>
                    <td>-</td>
                    <td>{{diagnosis.diagdes}}</td>
                    <td>{{diagnosis.diagst}}</td>

                  </tr>
                  
  
                </tbody>
              </table>
           
          </div></div></div>
          
 
          
        </div>
	<div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
	  <div class="col-sm-4" style="padding-left: 0px;">
       <div class="progrm-table" style="overflow-y:scroll;">
            <div class="table-responsive" style="overflow-x:hidden;">
                    
            <div style="margin-bottom:0;" class="crm-table" style="width:100%">
                    <div class="crm-table-title">Campaigns</div>
                    <table class="table text-left">
                        <thead>
                          <tr>
                        
                            <th width="20%">Campaign Name</th>
                            <th  width="15%">Enrollment Date</th>
                           <!-- <th  width="50">Triggered Formula</th>-->
                            <th  width="15%">Status</th>

                           </tr>
                        </thead>
                        <tbody >
                        
                          <tr ng-controller="InterventionComponent" *ngFor="let patientcampaigns of patientcampaignsData">
                         
                            <td>{{patientcampaigns.campname}}</td>
                            <td>1-1-1883</td>
                            <td><a href="#">{{patientcampaigns.campstatus}}</a></td>

                          </tr>
                        </tbody>
                      </table>
                      <br><br>
                </div>
          </div></div></div>
          
          <div class="col-sm-8" style="padding-left: 0px; padding-right: 0px;">
          <div class="history-table" style="overflow-y:scroll;">
            <div class="table-condensed" >
             <div class="crm-table-title">Touchpoint History</div>
             <table class="table table-bordered text-left" align="right">
                <thead>
                  <tr>
                   
                    <th class="text-center" width="17%">Name</th>
                    <th class="text-center" width="12%">Touchpoint </th>
                    <th class="text-center" width="10%">Channel</th>
                    <th class="text-center" width="15%">Time Stamp</th>
                    <th class="text-center" width="15%">Message</th>
                    <th class="text-center" width="15%">Contact</th>
                    <th class="text-center" width="15%">Status</th>
                  
                   </tr>
                </thead>
                <tbody >
                
                  
                   <tr ng-controller="InterventionComponent" *ngFor="let intervention of interventionData">
                    <td>{{intervention.fname}} {{intervention.lname}}</td>
                    <td>{{intervention.dptouchpoint}}</td>
                    <td>SMS</td>
                    <td>{{intervention.dpstime}}</td>
                    <td>{{intervention.dpmsg}}</td>
                    <td>{{intervention.dpcontact}}</td>
                    <td>{{intervention.status}}<span class="delvrd"></span></td>
                  </tr>
                  
  
                </tbody>
              </table>
           
          </div></div></div>
          
          

          
          
        </div>
		<button  type="button" class="patnt-btn" data-toggle="modal" data-target="#myModal" ><span></span>add/remove campaign</button>
      </div>  
	</div>
<!-- Modal -->

</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Campaigns list</h4>
        </div>
        <div class="modal-body" >
            <div class="list-group" >
                <button type="button" class="list-group-item list-group-item-action active">
                    Campaign Name
                  </button>
               
                <button type="button" ng-controller="CampaignComponent" class="list-group-item list-group-item-action" *ngFor="let campaigns of campaignData">{{campaigns.Name}}</button>
              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="patnt-btn selected" data-dismiss="modal">Close</button>
          <button type="button" class="patnt-btn">Ok</button>
        </div>
      </div>
    </div>
  </div>
