<link rel="stylesheet" type="text/css" href="../../resource/css/campaign-1.css" />

<div id="main" ng-controller="InterventionComponent"  *ngFor="let intervention of interventionData">
	<div class="container" >

    <div class="top_block">
            	  
                <div class="session_bar" >
                	                   	 <img src="app/resource/images/prof-pic.png">
					<div class="header-profile" >
                     	<p><label>Name: </label>{{intervention.fname}} {{intervention.lname}} </p>
                        <p><label>DOB: </label>{{intervention.dob}}</p>
                        <p><label>Patient ID: </label>{{intervention.Id}}</p>
                        <p><label>Gender: </label>{{intervention.gender}}</p>
                     	<p><label>Contact:(M): </label>{{intervention.dpcontact}}</p>
                        <p><label>Email: </label>{{intervention.email}}</p>
                    </div>

                </div>

            </div>
    
    <div class="enroll-block">
                
                <div class="right-tools">
                   <div class="tools-bitton-box">
            
               	<a href="interventions.html" class="patnt-btn selected">Patient Consult</a>
               	<a href="campaign-1.html" class="patnt-btn">Interventions</a>
                   
                
               </div>
              		
                      <button  type="button" class="add-btn" data-toggle="modal" data-target="#myModal" ><span></span>Enroll Selected</button>
                    <a class="add-btn" href="#"><span></span>Adhoc Touchpoint</a>

                </div>
                
               
            </div>
	<div class="campaign_blok">
      
       <div class="progrm-table" style="overflow-y:scroll;">
            <div class="table-responsive" style="overflow-x:hidden;">
                    
            <div style="margin-bottom:0;" class="crm-table" style="width:100%">
                    <div class="crm-table-title">Campaigns</div>
                    <table class="table text-left">
                        <thead>
                          <tr>
                            <th width="350">Campaign ID</th>
                            <th>Campaing Name</th>
                            <th  width="90">Enrolled Patients</th>
                           <!-- <th  width="50">Triggered Formula</th>-->
                            <th  width="50">Status</th>

                           </tr>
                        </thead>
                        <tbody >
                        
                          <tr *ngFor="let intervention of interventionData">
                            <td class="text-left"> <span class="stay"></span><a href="diabetes-program.html">{{intervention.CId}}</a> </td>
                            <td>{{intervention.Cname}}</td>
                            <td>{{intervention.cenrollpatients}}  </td>
                          <!--  <td>{{campaign.trigger}}</td>-->
                            <td><a href="#">{{intervention.Pcstatus}}</a></td>

                          </tr>
                        </tbody>
                      </table>
                      <br><br>
                </div>
          </div></div>
          
          
          <div class="history-table" style="overflow-y:scroll;">
            <div class="table-condensed" >
             <div class="crm-table-title">Touchpoint History</div>
             <table class="table table-bordered text-left" align="right">
                <thead>
                  <tr>
                   
                    <th class="text-center" width="17%">Name</th>
                    <th class="text-center" width="12%">Touchpoint </th>
                    <th class="text-center" width="10%">Channel</th>
                    <th class="text-center" width="15%">Time Stamp</th>
                    <th class="text-center" width="15%">Message</th>
                    <th class="text-center" width="15%">Contact</th>
                    <th class="text-center" width="15%">Status</th>
                  
                   </tr>
                </thead>
                <tbody >
                
                  
                   <tr *ngFor="let intervention of interventionData">
                    <td>{{intervention.fname}} {{intervention.lname}}</td>
                    <td>{{intervention.dptouchpoint}}</td>
                    <td>SMS</td>
                    <td>{{intervention.dpstime}}</td>
                    <td>{{intervention.dpmsg}}</td>
                    <td>{{intervention.dpcontact}}</td>
                    <td>{{intervention.status}}<span class="delvrd"></span></td>
                  </tr>
                  
  
                </tbody>
              </table>
           
          </div></div>
          
          
      <!--    <div class="history-table" style="overflow:inherit; margin-top:15px;">
            <div class="table-condensed">
             <div class="crm-table-title">Previous Illnesses	</div>
                    <table class="table " style="width: 100%">
                                <thead>
                                    <tr style="background-color: #EEF3DA;color:#333;">
                                        <th>Service Date</th>
                                        <th>Code</th>
                                         <th>Description</th>

                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>03/15/2014</td>
                                        <td>ICD-272.2</td>
                                        <td>Benign Essential Hypertension</td>
                                    </tr>
                                    
                                          <tr>
                                        <td>03/15/2014</td>
                                        <td>ICD-780.57</td>
                                        <td>Unspecified Sleep Apnea</td>
                                    </tr>
                            
                                </tbody>
                            </table>
            
          </div></div>-->
          
          
          
        </div>
        
	</div>
<!-- Modal -->

</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Campaigns list</h4>
        </div>
        <div class="modal-body" >
            <div class="list-group" >
                <button type="button" class="list-group-item list-group-item-action active">
                    Campaign Name
                  </button>
               
                <button type="button" ng-controller="CampaignComponent" class="list-group-item list-group-item-action" *ngFor="let campaigns of campaignData">{{campaigns.Name}}</button>
              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="patnt-btn selected" data-dismiss="modal">Close</button>
          <button type="button" class="patnt-btn">Ok</button>
        </div>
      </div>
    </div>
  </div>
