<link rel="stylesheet" type="text/css" href="../../resource/css/campaign.css" />
<script src="app/resource/js/campaignpopup.js"></script>

<!-- header -->
<div class="col-sm-12" style="margin-bottom:-20px; top:-60px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" align = "center">
        <div class="nav-menu" style="color:#FFFFFF">
                
<div class="btn-group">
    <button type="button" class="btn btn-primary"><a href="/patient" style="color:#FFFFFF">Patient</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Campaign</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Reports</a></button>
    <button type="button" class="btn btn-primary"><a href="/campaign" style="color:#FFFFFF">Work List</a></button>
</div>
        </div>
        </div>
        <div class="col-sm-2">
                <div class="header-holder">
                        <div class="log_in_bx" style="margin-bottom:25px; top:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/login">LOGOUT</a>
                        </div>
                </div>
        </div>
        </div>             

<div id="main">
	<div class="container">
    
    <div class="enroll-block">
                
                <div class="right-tools">
 
                    <a class="add-btn" href="/createcampaign"><span></span>Add New</a>

                </div>
            </div>
		<div class="campaign_blok">
        	<div class="table-responsive">
                    
            <table class="table text-left">
              <thead>
                <tr>
                  <th width="350">Campaign ID</th>
                  <th>Campaing Name</th>
                  <th  width="90">Enrolled Patients</th>
                 <!-- <th  width="50">Triggered Formula</th>-->
                  <th  width="50">Status</th>
                 </tr>
              </thead>
              <tbody ng-controller="CampaignComponent">
              
                <tr *ngFor="let campaign of campaignData">
                  <td class="text-left"> <span class="stay"></span>{{campaign.Id}}</td>
                  <td><a [tooltip]="'Click on a campaign to view the patients 
                  enrolled to the campaign and the touchpoints they have received'" href="/delivery">{{campaign.Name}}</a></td>
                  <td>{{campaign.noofpatientsenrolled}}  </td>
                <!--  <td>{{campaign.trigger}}</td>-->
                  <td><a href="#">{{campaign.status}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
	</div>

</div>
<footer style="background:#fff; height:27px;" id="footerWrapper">
    <div class="footer">
        
        <p><strong>Contact:&nbsp;</strong><a href="mailto:#">Pareto Healthcare</a></p>
    </div>
</footer>
