
        <script src="app/resource/js/campaignpopup.js"></script>

<!-- header -->
              

<div id="main">
	<div class="container">
    
    <div class="enroll-block">
                
                <div class="right-tools">
 
                    <a class="add-btn" href="create-campaign.html"><span></span>Add New</a>

                </div>
            </div>
		<div class="campaign_blok">
        	<div class="table-responsive">
                    
            <table class="table text-left">
              <thead>
                <tr>
                  <th width="350">Campaign ID</th>
                  <th>Campaing Name</th>
                  <th  width="90">Enrolled Patients</th>
                 <!-- <th  width="50">Triggered Formula</th>-->
                  <th  width="50">Status</th>
				  <th  width="50">Modify</th>
				  <th  width="50">Enroll</th>
                 </tr>
              </thead>
              <tbody ng-controller="CampaignComponent">
              
                <tr *ngFor="let campaign of campaignData">
                  <td class="text-left"> <span class="stay"></span>{{campaign.Id}}</td>
                  <td><a href="/delivery">{{campaign.Name}}</a></td>
                  <td>{{campaign.noofpatientsenrolled}}  </td>
                <!--  <td>{{campaign.trigger}}</td>-->
                  <td><a href="#">{{campaign.status}}</a></td>
                  <td><span class="modfy"></span></td>
                  <td><a href="#" id="enroll5"><span class="enroll"></span></a></td>
                </tr>
                 

               
               
               
              </tbody>
            </table>
          </div>
        </div>
	</div>

</div>

 <!--popup-->
     <div class="overlay" id="overlay" style="display:none;"></div>
       <div class="main_box" id="box" >
            <a class="boxclose" id="boxclose"></a>
            
            <div class="box-main">
            
            <div class="ptnt-heading">
            	<h2>Add Patients</h2>
                <label></label>
            </div> 
            
            
            
            
    <div class="closing_gap_list" style="width:740px;">
<!--
<div class="main_pop_box">
<!-- left box start 
   <div class="left_table_pop table table-bordered" id="left_Box">
<table width="100%" border="1" cellspacing="0" cellpadding="0">
 <thead>
  <tr>
    <th width="100">Member ID</th>
    <th width="230">Name</th>
  </tr>
  </thead>
  
  <tr>
    <td>20000330358</td>
    <td>Robin Baize</td>
  </tr>
  
  <tr>
    <td>87500187701</td>
    <td>Richard Rodriguez</td>
  </tr>
  
  <tr>
    <td>90000038968</td>
    <td>Quentin Miles</td>
  </tr>

  <tr>
    <td>18956542311</td>
    <td>Iyengar Srinivas</td>
  </tr>
  
  <tr>
    <td>30000070783</td>
    <td>Mike Smith</td>
  </tr>
  
  <tr>
    <td>46250020556</td>
    <td>Matthew Maury</td>
  </tr>
  
    <tr>
    <td>30000086316</td>
    <td>Linga Swany</td>
  </tr>
  
  <tr>
    <td>87500121115</td>
    <td>Justin Miller</td>
  </tr>
  <tr>
    <td>85000083259</td>
    <td>Joseph Reed</td>
  </tr>
  
   <tr>
    <td>3750203004</td>
    <td>Jonathan Blevins</td>
  </tr>
  
     <tr>
    <td>56250102399</td>
    <td>John Treadwell</td>
  </tr>
  
     <tr>
    <td>2500073571</td>
    <td>Jack Avery</td>
  </tr>
  
     <tr>
    <td>18956542312</td>
    <td>Matt Tapia</td>
  </tr>
  
     <tr>
    <td>92500236560</td>
    <td>Alex Fields</td>
  </tr>
  
     <tr>
    <td>46250012502</td>
    <td>Robbie Reynolds</td>
  </tr>
</table>
 
   </div>
<!-- left box ends -->

<!-- center box start   
   <div class="center_table_pop">
      <a href="#"><img src="app/resource/images/left.png" width="20" height="24" style="margin-bottom:20px;" id="left_button" /></a>
      <a href="#"><img src="app/resource/images/right.png" width="20" height="24" id="right_button"/></a>
   </div>
<!-- center box ends -->     

<!-- right box start      
   <div class="right_table_pop table table-bordered" id="right_Box">
<table width="100%" border="1" cellspacing="0" cellpadding="0">
 <thead>
  <tr>
    <th width="100">Member ID</th>
    <th width="230">Name</th>
  </tr>
  </thead>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
 <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>

 <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
 <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
    <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
     <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
</table>
   </div>
<!-- right box ends  
</div>-->

    
   </div>
 <div style="clear:both;"></div>        
         
         <nav class="btn_bx">
         <a href="#" class="confirm_btn" >Save</a>
         </nav>

            </div>
        </div>
        <!--End Poup-->
   
      
   



<footer style="background:#fff; height:27px;" id="footerWrapper">
    <div class="footer">
        
        <p><strong>Contact:&nbsp;</strong><a href="mailto:#">Pareto Healthcare</a></p>
    </div>
</footer>




<!--   <script>

   function goBack(){alert(1);
        window.history.back();
    }

</script>-->

 <script type="text/javascript">

            //$(function() {
                $('#enroll').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                });
				
				
				
					
				    $('#planname').click(function(){
                    $('#save-overlay').fadeIn('fast',function(){
                        $('#box-a').animate({'top':'200px'},500);
                    });
                });
                $('#boxclose-a').click(function(){
                    $('#box-a').animate({'top':'-750px'},500,function(){
                        $('#save-overlay').fadeOut('fast');
                    });
                });
				
					$('.confirm_btn').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                $('td').removeClass('active');
				});
				
					
				$('.cancel_btn').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                
				});
				
				
			//$(function() {
                $('#enroll1').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });

							//$(function() {
                $('#enroll2').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
				//$(function() {
				 $('#enroll3').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });

				//$(function() {
                $('#enroll4').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
				                $('#enroll5').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
				                $('#enroll6').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });

				
		
            //});
			
			$('#right_button').on('click',function(){
			$('#right_Box table>tbody').prepend($('#left_Box tr.actve').removeClass('actve'));
			});
			
			$('#left_button').on('click',function(){
			$('#left_Box table>tbody').prepend($('#right_Box tr.actve').removeClass('actve'));
			});
        </script>
        
     



