<link rel="stylesheet" type="text/css" href="../../resource/css/create-campaign.css" />

<script type="text/javascript">
	$(document).ready(function(){
		$('tr').click(function(){
			$(this).toggleClass('actve');
		});
		
	});
</script>
  <script>
  $(function() {
    $( ".lttr-icn" ).draggable({   cursor: "move",
    revert: "invalid",
    helper: "clone"});
    $( ".touchpoint-main>.tools>.lttr-icn" ).droppable({
    drop: function (ev, ui) {
                                    $(this).replaceWith($(ui.draggable).clone());
    }
    });
  });
  </script>


<div id="main">
	<div class="container" style="height:auto;">
    
    	
    
    <div class="top_block">
            	<div>  
                <div class="catgry-block" style=" visibility:hidden">
                    <a href="#"><h2>200</h2><span class="title">Patients Enrolled</span></a>	
                </div>

                <div class="session_bar">
                <div class="title"><span class="flushot"></span><p style="width:240px;" name="Insert Campaign Name">Insert Campaign Name</p></div>
             
                </div>
                
                
				 <div class="catgry-block" style="float:right;">
                    <a href="#"><h2>4</h2><span class="title">Touchpoints</span></a>	
                </div>
            </div>
            </div>
            
            
            
            
            
    <div class="enroll-block">
                
                <div class="right-tools">
                <p>Add Description<label class="add-desc"></label></p>
					<a class="add-btn" id="form" href="#"><span></span>Configure</a>
                  <a id="bulk" class="add-btn" href="#"><span></span>Enroll Members</a>

                </div>
                
               
           
             <div class="prgrm-title"><br><br>Create Campaign</div>
		<div class="campaign_blok">
        	<div class="prgm-ovrviw">
            	<div class="line-one"></div>
            
            	<div class="day-blk" ><h4>Channel <p>(Drop from Channel Bar to 
Add/Shuffle Order)</p></h4></div>

                <div class="days" >0 Day Lapsed</div>
            	<div class="touchpoint-main">
                	<div class="blue-blok">
                    <div class="line"></div>
                     <div class="close"></div>
                    	<div class="tch-icon"></div>
                        <h3><p>Insert Title</p></h3>
                    </div>
                    
                    <div class="tools" droppable>
                    	
                    </div>
                </div><!--end-->
                <div class="days">2 Days Lapsed</div>
                
                <div class="touchpoint-main">
                	<div class=" blue-blok">
                    <div class="line"></div>
                     <div class="close"></div>
                    	<div class="tch-icon"></div>
                        <h3><p>Insert Title</p></h3>
                    </div>
                    
                    <div class="tools" >
                    	<span  class="lttr-icn blank" droppable ></span>
                        <span class="lttr-icn blank" droppable ></span>
                        <span class="lttr-icn blank-a" droppable ></span>
                       
                    </div>
                </div><!--end-->
               <div class="days">3 Days Lapsed</div>
                
                
                <div class="touchpoint-main">
                	<div class=" blue-blok">
                    <div class="line"></div>
                     <div class="close"></div>
                    	<div class="tch-icon"></div>
                        <h3><p>Insert Title</p></h3>
                    </div>
                    
                    <div class="tools" >
                    	<span class="lttr-icn blank" droppable ></span>
                        <span class="lttr-icn blank-a" droppable ></span>
                    </div>
                </div><!--end-->
               <div class="days">2 Days Lapsed</div>
                
                
                <div class="touchpoint-main">
                	<div class=" blue-blok">
                     <div class="close"></div>
                    	<div class="tch-icon"></div>
                        <h3><p>Insert Title</p></h3>
                    </div>
                    
                    <div class="tools" >
                    	<span class="lttr-icn blank" droppable ></span>
                        <span class="lttr-icn blank-a " droppable ></span>
                    </div>
                </div><!--end-->
                
                
             
                <div class="channl-avlble">
                <div class="channel-main">
                    <div class="day-blk-one"><h4>Channel<br>Available</h4></div>
            
                	
                	<div class="tools">
                    	  <span class="lttr-icn"  ><span draggable class="book draggable"></span></span>
                            <span class="lttr-icn"  ><span draggable class="phone draggable"></span></span>
                    	<div class="lttr-icn"  ><span id="draggable" draggable class="mail draggable"></span></div>
                        <span class="lttr-icn" ><span  draggable class="sms draggable"></span></span>
                      
                      
                    </div>
                    
                    
                    <div class="tools">
                    	  <span class="lttr-icn" draggable ><span class="book draggable"></span></span>
                            <span class="lttr-icn" draggable ><span class="phone draggable"></span></span>
                    	<div class="lttr-icn" draggable ><span id="draggable" class="mail draggable"></span></div>
                        <span class="lttr-icn" draggable ><span class="sms draggable"></span></span>
                    </div>
                    
                    
                    
                    <div class="tools">
                     <span class="lttr-icn" draggable ><span class="book draggable"></span></span>
                            <span class="lttr-icn" draggable ><span class="phone draggable"></span></span>
                    	<div class="lttr-icn" draggable ><span id="draggable" class="mail draggable"></span></div>
                        <span class="lttr-icn" draggable ><span class="sms draggable"></span></span>
                    </div>
                    
                    
                    
                    <div class="tools">
                      <span class="lttr-icn" draggable ><span class="book draggable"></span></span>
                            <span class="lttr-icn" draggable ><span class="phone draggable"></span></span>
                    	<div class="lttr-icn" draggable ><span id="draggable" class="mail draggable"></span></div>
                        <span class="lttr-icn" draggable ><span class="sms draggable"></span></span>
                    </div>

                    </div>
                </div>
           <hr>
        
                	<div class="day-blk-one"><h4>Days from<br>Enrollment</h4></div>
                    
                    <div class="input-block">
                    
                    	<label class="drop">
            <select style="width:60px;">
           	    <option>0</option>
            	<option>1</option>
				<option>2</option>
				<option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            	<option>8</option>
				<option>9</option>
				<option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
            	<option>15</option>
				<option>16</option>
				<option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
            	<option>22</option>
				<option>23</option>
				<option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
  
            </select>

        </label>
        
        <label class="drop">
            <select>
            	<option>Days</option>
				<option>Weeks</option>
                <option>Months</option>
            </select>

        </label>

                    </div>
                    
                    
                    <div class="input-block">
                    
                    	<label class="drop">
            <select style="width:60px;">
           	    <option>0</option>
            	<option>1</option>
				<option>2</option>
				<option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            	<option>8</option>
				<option>9</option>
				<option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
            	<option>15</option>
				<option>16</option>
				<option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
            	<option>22</option>
				<option>23</option>
				<option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
  
            </select>

        </label>
        
        <label class="drop">
            <select>
            	<option>Days</option>
				<option>Weeks</option>
                <option>Months</option>
            </select>

        </label>

                    </div>
                    
                    
                    
                    <div class="input-block">
                    
                    	<label class="drop">
            <select style="width:60px;">
           	    <option>0</option>
            	<option>1</option>
				<option>2</option>
				<option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            	<option>8</option>
				<option>9</option>
				<option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
            	<option>15</option>
				<option>16</option>
				<option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
            	<option>22</option>
				<option>23</option>
				<option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
  
            </select>

        </label>
        
        <label class="drop">
            <select>
            	<option>Days</option>
				<option>Weeks</option>
                <option>Months</option>
            </select>

        </label>

                    </div>
                    
                    
                    
                    <div class="input-block">
                    
                    	<label class="drop">
            <select style="width:60px;">
           	    <option>0</option>
            	<option>1</option>
				<option>2</option>
				<option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            	<option>8</option>
				<option>9</option>
				<option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
            	<option>15</option>
				<option>16</option>
				<option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
            	<option>22</option>
				<option>23</option>
				<option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
  
            </select>

        </label>
        
        <label class="drop">
            <select>
            	<option>Days</option>
				<option>Weeks</option>
                <option>Months</option>
            </select>

        </label>

                    </div>
                 </div>
               </div>
            </div>
     </div>

            <div class="buttn-blk-mn">
            <div class="buttn-blk"><a href="#" class="add-btn"><span></span>Add New Touchpoint</a>  <a href="#" class="save"><span></span>Save</a></div>
           </div>
        
              <div class="Instructions-blk">
              <h3>Instructions for Campaign Design</h3>
              <ul>
             <li> • Drag channel icons to add to channel mix</li>
 <li> • Shuffle the channel mix to suit your needs</li>
 <li> • Add/remove touchpoints to customize your campaign</li>
 <li> • Use the pencil icon to edit/insert text inputs</li>
</ul>
              </div>
          
       
   </div>  
      
	
	
	
      <!--popup-->
    <div class="overlay" id="overlay" style="display:none;" ></div>
      <div class="main_box green" id="box" >
          
            
            <div class="box-main">
            <div class="ptnt-heading">
            	<h2>Configure</h2>
            </div>
            
    <div class="closing_gap_list">
	
    <div class="input-col">
   		 <div class="colmn-1"><label>Physicians Name</label> </div>
        <div class="colmn-2">
         <select type="text">
                      <option>Dr. Suzanne Holroyd </option>
         	<option>Dr. John P. DiMarco</option>
            <option>Dr. James E. Ferguson</option>
              <option>Dr. Christopher </option>
               <option>Dr. David R. Jones </option>
         </select>
         </div>
    </div>
    
    <div class="input-col">
      <div class="colmn-1"> <label>Clinic Name</label> </div>
      <div class="colmn-2"><input type="text"></div>
    </div>
    
     <div class="input-col">
      <div class="colmn-1"> <label>Address</label> </div>
    <div class="colmn-2">  <textarea rows="3" cols="27" title=""></textarea></div>
    </div>
    
         <div class="input-col">
      <div class="colmn-1"> <label>Contact Details</label> </div>
     <div class="colmn-2"><input type="text"></div>
    </div>
    
       <div class="input-col">
      <div class="colmn-1"> <label>Logo</label> </div>
    <div class="colmn-2"> <input class="upld-file" type="file"></div>
    </div>
    
  <!--  <div class="logo-box"><img src="images/samp-logo.png" sa></div>-->
   
   </div>
   
   
         
         
         <nav class="btn_bx">
         <a href="#" class="confirm_btn" >Confirm</a>  <a href="#" class="cancl_btn" >Cancel</a>
         </nav>

            </div>
        </div>
        <!--End Poup-->
        
        
         <!--popup-->
     <div class="overlay" id="save-overlay" style="display:none;"></div>
       <div class="main_box-1" id="box-a" >
            <a class="boxclose" id="boxclose-a"></a>
            
            <div class="box-main">
            
            <div class="ptnt-heading">
            	<h2>Add Patients</h2>
                <label></label>
            </div> 
            
            
            
            
    <div  style="width:740px; margin-top:20px; margin-left:25px;">

<div class="main_pop_box">
<!-- left box start -->
   <div class="left_table_pop table table-bordered" id="left_Box">
<table width="100%" border="1" cellspacing="0" cellpadding="0">
 <thead>
  <tr>
    <th width="100">Member ID</th>
    <th width="230">Name</th>
  </tr>
  </thead>
  
  <tr>
    <td>20000330358</td>
    <td>Robin Baize</td>
  </tr>
  
  <tr>
    <td>87500187701</td>
    <td>Richard Rodriguez</td>
  </tr>
  
  <tr>
    <td>90000038968</td>
    <td>Quentin Miles</td>
  </tr>

  <tr>
    <td>18956542311</td>
    <td>Iyengar Srinivas</td>
  </tr>
  
  <tr>
    <td>30000070783</td>
    <td>Mike Smith</td>
  </tr>
  
  <tr>
    <td>46250020556</td>
    <td>Matthew Maury</td>
  </tr>
  
    <tr>
    <td>30000086316</td>
    <td>Linga Swany</td>
  </tr>
  
  <tr>
    <td>87500121115</td>
    <td>Justin Miller</td>
  </tr>
  <tr>
    <td>85000083259</td>
    <td>Joseph Reed</td>
  </tr>
  
   <tr>
    <td>3750203004</td>
    <td>Jonathan Blevins</td>
  </tr>
  
     <tr>
    <td>56250102399</td>
    <td>John Treadwell</td>
  </tr>
  
     <tr>
    <td>2500073571</td>
    <td>Jack Avery</td>
  </tr>
  
     <tr>
    <td>18956542312</td>
    <td>Matt Tapia</td>
  </tr>
  
     <tr>
    <td>92500236560</td>
    <td>Alex Fields</td>
  </tr>
  
     <tr>
    <td>46250012502</td>
    <td>Robbie Reynolds</td>
  </tr>
</table>
 
   </div>
<!-- left box ends -->

<!-- center box start -->   
   <div class="center_table_pop">
      <a href="#"><img src="images/left.png" width="20" height="24" style="margin-bottom:20px;" id="left_button" /></a>
      <a href="#"><img src="images/right.png" width="20" height="24" id="right_button"/></a>
   </div>
<!-- center box ends -->     

<!-- right box start -->      
   <div class="right_table_pop table table-bordered" id="right_Box">
<table width="100%" border="1" cellspacing="0" cellpadding="0">
 <thead>
  <tr>
    <th width="100">Member ID</th>
    <th width="230">Name</th>
  </tr>
  </thead>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
 <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>

 <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
 <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
   <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
    <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
  
     <tr>
    <td>&nbsp;</td>
     <td>&nbsp;</td>
  </tr>
</table>
   </div>
<!-- right box ends --> 
</div>

    
   </div>
 <div style="clear:both;"></div>        
         
         <nav class="btn_bx">
         <a href="#" class="confirm_btn" >Save</a>
         </nav>

            </div>
        </div>
        <!--End Poup-->





   
      



      
   



<footer style="background:#fff; height:27px;" id="footerWrapper">
    <div class="footer">
        
        <p><strong>Contact:&nbsp;</strong><a href="mailto:#">Pareto Healthcare</a></p>
    </div>
</footer>


<script type="text/javascript">


            //$(function() {
                $('#form').click(function(){
				
                    $('#overlay').fadeIn('fast',function(){
                        $('#box').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                });
				
					
				    $('#bulk').click(function(){
                    $('#save-overlay').fadeIn('fast',function(){
                        $('#box-a').animate({'top':'75px'},500);
                    });
                });
                $('#boxclose-a').click(function(){
                    $('#box-a').animate({'top':'-750px'},500,function(){
                        $('#save-overlay').fadeOut('fast');
                    });
					
                });
				
			$('.confirm_btn').click(function(){
                    $('#box-a').animate({'top':'-750px'},500,function(){
                        $('#save-overlay').fadeOut('fast');
                    });
                $('td').removeClass('active');
				});
				
					
				    $('#planname').click(function(){
                    $('#save-overlay').fadeIn('fast',function(){
                        $('#box-a').animate({'top':'200px'},500);
                    });
                });
                $('#boxclose-a').click(function(){
                    $('#box-a').animate({'top':'-750px'},500,function(){
                        $('#save-overlay').fadeOut('fast');
                    });
                });
				
					$('.confirm_btn').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                $('td').removeClass('active');
				});
				
					
				$('.cancl_btn').click(function(){
                    $('#box').animate({'top':'-750px'},500,function(){
                        $('#overlay').fadeOut('fast');
                    });
                
				});
				
		
            //});
			
      	$('#right_button').on('click',function(){
			$('#right_Box table>tbody').prepend($('#left_Box tr.actve').removeClass('actve'));
			});
			
			$('#left_button').on('click',function(){
			$('#left_Box table>tbody').prepend($('#right_Box tr.actve').removeClass('actve'));
			});
        </script>
        
        <script>
$('p').bind('click',
               function(){
                   $(this).attr('contentEditable',true);
				  
               });
			   $('p').focusin(
               function(){
				   
                   $(this).text('');
				   
               });
			   $('p').focusout(
               function(){
				   if(!$(this).text())
                   $(this).text($(this).attr('name'));
				   
               });
			   
</script>
