<link rel="stylesheet" type="text/css" href="../../resource/css/create-campaign.css" />


<div id="main">
	<div class="container" style="height:auto;">
    
    	
    
    <div class="top_block">
            	<div>  
                <div class="catgry-block" style=" visibility:hidden">
                    <a href="#"><h2>200</h2><span class="title">Patients Enrolled</span></a>	
                </div>

                <div class="session_bar">
                <div class="title"><span class="flushot"></span><p style="width:240px;" name="Insert Campaign Name">Insert Campaign Name</p></div>
             
                </div>
                
                
				 <div class="catgry-block" style="float:right;">
                    <a href="#"><h2>4</h2><span class="title">Touchpoints</span></a>	
                </div>
            </div>
            </div>
            
            
            
            
            
    <div class="enroll-block">
                
                <div class="right-tools">
                
					<a class="add-btn" id="form" href="#"><span></span>Configure</a>
                  <a id="bulk" class="add-btn" href="#"><span></span>Enroll Members</a>

                </div>
                
               
           
             <div class="prgrm-title"><br><br>Create Campaign</div>
<div class="col-sm-12">
        <div class="col-sm-4" style="padding-right: 2px; padding-left: 0px;">   
             <div class="panel panel-default">
                <div class="panel-body">
                <div class="draggable-items">
                    
                <ul>
                    <li [dragScope]="'drink'" draggable [dragClass]="'drag-over'">
                    <div class="touchpoint-main">
                        <div class="blue-blok">
                         <div class="close"></div>
                            <div class="tch-icon"></div>
                            <h3><p>Insert Title</p></h3>
                        </div>
                    
                </div>
            </li>
        </ul>
            </div>

                </div>
              </div>
            </div>
            <div class="col-sm-8" style="padding-right: 0px; padding-left: 2px;">
            <div class="panel panel-default">
            <div droppable class="panel-body" [dropScope]="'drink'" [dragOverClass]="'drag-target-border-green'">
            </div>
            </div>
            </div>
        </div>
        <div class="col-sm-12">
        <div class="col-sm-4" style="padding-right: 2px; padding-left: 0px;">
                <div class="panel panel-default">
                        <div class="panel-body">
                                <div class= "tools">
                                        <div class="lttr-icn" draggable ><span class="book draggable"></span></div>
                                        <div class="lttr-icn" draggable ><span class="phone draggable"></span></div>
                                         <div class="lttr-icn" draggable ><span id="draggable" class="mail draggable"></span></div>
                                        <div class="lttr-icn" draggable ><span class="sms draggable"></span></div>
                                    </div>
                        </div>
                        </div>
        </div>    
        </div>    
                
            
     </div>

         
          
       
   </div>  
      
	
	
	
   